{"openapi":"3.0.0","info":{"title":"Ideasoft Commerce — catalog","version":"3.2.0","x-commerce-group":"catalog","description":"AI-friendly commerce grouping: catalog"},"servers":[{"url":"https://magaza-adiniz.myideasoft.com"}],"paths":{"/admin-api/categories/count":{"get":{"operationId":"gcped0duworuc","summary":"Category COUNT","description":"Category cgetAction","tags":[],"parameters":[{"id":"0b8eca5a8f72f","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f10248121bc80"}},{"id":"55b1dc1a0e668","name":"limit","style":"form","description":"Bir sayfada gelecek Categories adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/464d8d7f5ecac"}},{"id":"193d3dec098c0","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c5158d7565658"}},{"id":"b7c15d06a44cc","name":"id","style":"form","description":"Tekli listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7ec4280ed6f8f"}},{"id":"27b1124a39a62","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f10248121bc80"}},{"id":"7e27bbf63d363","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7ec4280ed6f8f"}},{"id":"300964dc930fc","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f10248121bc80"}},{"id":"4d50e11590bfb","name":"displayShowcaseContent","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e90bf902bcb08"}},{"id":"ab4c35002010a","name":"displayShowcaseFooterContent","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e90bf902bcb08"}},{"id":"b9136b7078792","name":"distributor","style":"form","description":"Category Distributor","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f10248121bc80"}},{"id":"5c531d6381408","name":"startCreatedAt","style":"form","description":"createdAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e8b318206119c"}},{"id":"a5a908fc23930","name":"endCreatedAt","style":"form","description":"createdAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e8b318206119c"}},{"id":"8b724cbea5c38","name":"startUpdatedAt","style":"form","description":"updatedAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e8b318206119c"}},{"id":"708ec233ca185","name":"endUpdatedAt","style":"form","description":"updatedAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e8b318206119c"}},{"id":"c4358408d3478","name":"status","style":"form","description":"Category status search filter","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e90bf902bcb08"}},{"id":"453d89ec97442","name":"q","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f10248121bc80"}},{"id":"455d89ec979e8","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f10248121bc80"}}],"responses":{"default":{"$ref":"#/components/schemas/63d947130d1ca"}},"security":[{"$ref":"#/components/schemas/c499441a0ab35"},{"$ref":"#/components/schemas/c4a9441a0a8fa"}],"servers":[{"$ref":"#/components/schemas/e81c242f98228"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"gcped0duworuc-category-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/categories":{"get":{"operationId":"20vhu24qmintk","summary":"Category LIST","description":"Category cgetAction","tags":[],"parameters":[{"id":"45d157a8c93bf","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/dff81687afed8"}},{"id":"7af4c1b1d4b04","name":"limit","style":"form","description":"Bir sayfada gelecek Categories adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9ead6e88da50d"}},{"id":"84a0fada5c472","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0c693f47e4637"}},{"id":"4a9abb25360a3","name":"id","style":"form","description":"Tekli listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/df8f516f8d610"}},{"id":"109c003b42e47","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/dff81687afed8"}},{"id":"776c9a9a27eee","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/df8f516f8d610"}},{"id":"a6521c6143675","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/dff81687afed8"}},{"id":"96bbda681f628","name":"displayShowcaseContent","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2f3d617790011"}},{"id":"d561ff47c88a1","name":"displayShowcaseFooterContent","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2f3d617790011"}},{"id":"1d7c2ea4cb144","name":"distributor","style":"form","description":"Category Distributor","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/dff81687afed8"}},{"id":"ad0736d1397f1","name":"startCreatedAt","style":"form","description":"createdAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6e849c0951f1e"}},{"id":"82c5cce0b2451","name":"endCreatedAt","style":"form","description":"createdAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6e849c0951f1e"}},{"id":"0f44f068a78ad","name":"startUpdatedAt","style":"form","description":"updatedAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6e849c0951f1e"}},{"id":"ed8fbd6b2c1c8","name":"endUpdatedAt","style":"form","description":"updatedAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6e849c0951f1e"}},{"id":"a5bfb221bf35c","name":"status","style":"form","description":"Category status search filter","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2f3d617790011"}},{"id":"88a48c7e9c5e3","name":"q","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/dff81687afed8"}},{"id":"88c48c7e9c94d","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/dff81687afed8"}}],"responses":{"default":{"$ref":"#/components/schemas/0d2b1c5a2d670"}},"security":[{"$ref":"#/components/schemas/4f9fd9294c1bc"},{"$ref":"#/components/schemas/4f8fd9294c34b"}],"servers":[{"$ref":"#/components/schemas/2c3b3ea3b4473"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"20vhu24qmintk-category-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"fejso6cwrlaan","summary":"Category POST","description":"Category postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/328cdee16ced0"}},"requestBody":{"$ref":"#/components/schemas/3dbf12c9969c0"},"security":[{"$ref":"#/components/schemas/5db1c6af32df2"},{"$ref":"#/components/schemas/5da1c6af32fad"}],"servers":[{"$ref":"#/components/schemas/2e56a0f791c71"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"fejso6cwrlaan-category-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/categories/{id}":{"get":{"operationId":"urnz3c48kugxv","summary":"Category GET","description":"Category getAction","tags":[],"parameters":[{"id":"7e591dc92d980","name":"id","style":"simple","description":"Getirilecek Category ID","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fa7dec79abea5"}}],"responses":{"default":{"$ref":"#/components/schemas/224c051d05ea3"}},"security":[{"$ref":"#/components/schemas/a78b813d64ba1"},{"$ref":"#/components/schemas/a79b813d649f2"}],"servers":[{"$ref":"#/components/schemas/78ee0d921bff3"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"urnz3c48kugxv-category-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"vkzxmo14fhd25","summary":"Category PUT","description":"Category putAction","tags":[],"parameters":[{"id":"548819137b32c","name":"id","style":"simple","description":"Güncellenecek Category ID","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/02a685f4097e8"}}],"responses":{"default":{"$ref":"#/components/schemas/394a4f5831221"}},"requestBody":{"$ref":"#/components/schemas/303ed5c618fec"},"security":[{"$ref":"#/components/schemas/2b6fcee495f70"},{"$ref":"#/components/schemas/2b5fcee495923"}],"servers":[{"$ref":"#/components/schemas/124b4a8501428"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"vkzxmo14fhd25-category-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"zl0jscyelbfdg","summary":"Category DELETE","description":"Category deleteAction","tags":[],"parameters":[{"id":"3249aa84da06d","name":"id","style":"simple","description":"Silinecek Category ID","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8d71d2c4ed9de"}}],"responses":{"default":{"$ref":"#/components/schemas/5da3320132d20"}},"security":[{"$ref":"#/components/schemas/67974e452560c"},{"$ref":"#/components/schemas/67874e45250db"}],"servers":[{"$ref":"#/components/schemas/67ccd64d50de5"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"zl0jscyelbfdg-category-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/categories/search_tree":{"get":{"operationId":"u0plw8aofoh9x","summary":"Category SearchTreeAction GET","description":"Category searchTreeAction","tags":[],"parameters":[{"id":"37b4e56eb5b22","name":"limit","style":"form","description":"Bir sayfada gelecek Categories adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/cd32bf979e4fd"}},{"id":"c8b19f6db1bd9","name":"id","style":"form","description":"Tekli listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/26fb8c7dce1e0"}},{"id":"0c88897d01ad8","name":"q","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beef56f4b4bd6"}},{"id":"0ca8897d01642","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beef56f4b4bd6"}},{"id":"8159c10cef707","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beef56f4b4bd6"}}],"responses":{"default":{"$ref":"#/components/schemas/aa6bec9234345"}},"security":[{"$ref":"#/components/schemas/48dbfe12d1e26"},{"$ref":"#/components/schemas/48ebfe12d1869"}],"servers":[{"$ref":"#/components/schemas/87aced68bf71f"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"u0plw8aofoh9x-category-search-tree-action-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/categories":{"post":{"operationId":"garlz2fbna6gs","summary":"Category POST","description":"Category postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/fca9a416c74e9"}},"requestBody":{"$ref":"#/components/schemas/fae2d50e109b7"},"security":[{"$ref":"#/components/schemas/1943165c675d1"}],"servers":[{"$ref":"#/components/schemas/610f33c9852ef"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"garlz2fbna6gs-category-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"ovvbnoui2pfwc","summary":"Category LIST","description":"Category cgetAction","tags":[],"parameters":[{"id":"aba447a3cf86e","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c2959eeaf7ce7"}},{"id":"71f085fc606e0","name":"limit","style":"form","description":"Bir sayfada gelecek Categories adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aaff9aaf8f082"}},{"id":"20d2c77ab9ec7","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7bbf745a03829"}},{"id":"61d3c1272dce3","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fc04ca5098fa1"}},{"id":"0d27d9e3b0c33","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c2959eeaf7ce7"}},{"id":"7119d808c0977","name":"name","style":"form","description":"Category Name.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c2959eeaf7ce7"}},{"id":"9263e39cd0dc8","name":"status","style":"form","description":"Category status search filter","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/28330095a58f0"}},{"id":"78675b5d899e5","name":"distributor","style":"form","description":"Category Distributor","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c2959eeaf7ce7"}},{"id":"810f2c891c6ea","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c2959eeaf7ce7"}},{"id":"33dfb3251e066","name":"q","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c2959eeaf7ce7"}},{"id":"cfc70831e2369","name":"startDate","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a79f4ef42dc7b"}},{"id":"691a4fe07d0d4","name":"endDate","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a79f4ef42dc7b"}},{"id":"9f2a86bd50a94","name":"startUpdatedAt","style":"form","description":"updatedAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a79f4ef42dc7b"}},{"id":"f4e10b890daa6","name":"endUpdatedAt","style":"form","description":"updatedAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a79f4ef42dc7b"}}],"responses":{"default":{"$ref":"#/components/schemas/0ce8a51cbbc2a"}},"security":[{"$ref":"#/components/schemas/617e9fea820fa"}],"servers":[{"$ref":"#/components/schemas/87a0e63a3ac08"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"ovvbnoui2pfwc-category-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/categories/{id}":{"put":{"operationId":"g5w7pluzlr7lo","summary":"Category PUT","description":"Category putAction","tags":[],"parameters":[{"id":"05d19ac1a9f43","name":"id","style":"simple","description":"Güncellenecek Category ID","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8f1d99e00bc4c"}}],"responses":{"default":{"$ref":"#/components/schemas/b61f53f5bc414"}},"requestBody":{"$ref":"#/components/schemas/f72f404fe79b4"},"security":[{"$ref":"#/components/schemas/4fe2eb36c35d6"}],"servers":[{"$ref":"#/components/schemas/4e73b21df39ac"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"g5w7pluzlr7lo-category-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"ufonm8iz150us","summary":"Category DELETE","description":"Category deleteAction","tags":[],"parameters":[{"id":"7448a84746bc4","name":"id","style":"simple","description":"Silinecek Category ID","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8024279d4d613"}}],"responses":{"default":{"$ref":"#/components/schemas/01a98e2aa4243"}},"security":[{"$ref":"#/components/schemas/7a7e88adb1b8a"}],"servers":[{"$ref":"#/components/schemas/2fadf0f30ca02"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"ufonm8iz150us-category-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"gv3lmf1dafx0l","summary":"Category GET","description":"Category getAction","tags":[],"parameters":[{"id":"8fb83c58a4fbe","name":"id","style":"simple","description":"Getirilecek Category ID","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2b7b0cfac343d"}}],"responses":{"default":{"$ref":"#/components/schemas/0cda48346056d"}},"security":[{"$ref":"#/components/schemas/a6da4887f6df2"}],"servers":[{"$ref":"#/components/schemas/4d145e130778f"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"gv3lmf1dafx0l-category-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/category_mappings/{id}":{"delete":{"operationId":"djmndn2zrvvsz","summary":"CategoryMapping DELETE","description":"CategoryMapping deleteAction","tags":[],"parameters":[{"id":"fbf04dded3e39","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/679bd08ed98c7"}}],"responses":{"default":{"$ref":"#/components/schemas/df2caa48bdd46"}},"security":[{"$ref":"#/components/schemas/4766c507ce9b2"},{"$ref":"#/components/schemas/4776c507cebfd"}],"servers":[{"$ref":"#/components/schemas/e7d764d2e36a1"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"djmndn2zrvvsz-category-mapping-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"3p6ampowy44ox","summary":"CategoryMapping GET","description":"CategoryMapping getAction","tags":[],"parameters":[{"id":"d77fb437b98c2","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b2fc6a206733e"}}],"responses":{"default":{"$ref":"#/components/schemas/478e8d10f90a9"}},"security":[{"$ref":"#/components/schemas/039d7e853110a"},{"$ref":"#/components/schemas/038d7e85310b9"}],"servers":[{"$ref":"#/components/schemas/4867bcc13f3db"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"3p6ampowy44ox-category-mapping-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/category_mappings/count":{"get":{"operationId":"ofi86v47p2v3f","summary":"CategoryMapping COUNT","description":"CategoryMapping cgetAction","tags":[],"parameters":[{"id":"3354a4bc4e45c","name":"sort","style":"form","description":"Example sort=id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1c878f71a7d1e"}},{"id":"c12419f7f28b9","name":"limit","style":"form","description":"Number of requested Product Mappings per page","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9086d032ec72a"}},{"id":"a883249338ab2","name":"page","style":"form","description":"Which page to start from","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/eb5fefcda8a99"}},{"id":"c80c27bd61dc5","name":"category","style":"form","description":"Category Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c0fba1ed40c79"}},{"id":"eaf832c29c154","name":"id","style":"form","description":"Get result by id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c0fba1ed40c79"}},{"id":"531e40af2e84c","name":"ids","style":"form","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1c878f71a7d1e"}},{"id":"7216cdb60b54e","name":"sinceId","style":"form","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c0fba1ed40c79"}},{"id":"7f85550849c2c","name":"type","style":"form","description":"Type Filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1c878f71a7d1e"}},{"id":"c6d9b39fcea0d","name":"targetCategoryId","style":"form","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1c878f71a7d1e"}},{"id":"a9ca76feada1d","name":"q","style":"form","description":"CategoryMapping search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1c878f71a7d1e"}}],"responses":{"default":{"$ref":"#/components/schemas/a4a11d9ffa137"}},"security":[{"$ref":"#/components/schemas/74d2b45026779"},{"$ref":"#/components/schemas/74e2b450264b6"}],"servers":[{"$ref":"#/components/schemas/de49cb698d278"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"ofi86v47p2v3f-category-mapping-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/category_mappings":{"post":{"operationId":"kkb3ci3dvx9et","summary":"CategoryMapping POST","description":"CategoryMapping postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/7f8761838ee19"}},"requestBody":{"$ref":"#/components/schemas/f7c7e4728404e"},"security":[{"$ref":"#/components/schemas/f13c12063fceb"},{"$ref":"#/components/schemas/f14c12063febc"}],"servers":[{"$ref":"#/components/schemas/ad2bcb105aa2e"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"kkb3ci3dvx9et-category-mapping-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"uk4eo5tht4q9l","summary":"CategoryMapping LIST","description":"CategoryMapping cgetAction","tags":[],"parameters":[{"id":"af20ddd9511f0","name":"sort","style":"form","description":"Example sort=id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/503f65b8e48ac"}},{"id":"1f2f5dfff75d1","name":"limit","style":"form","description":"Number of requested Product Mappings per page","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d8615ab484c46"}},{"id":"59b26b9d60a26","name":"page","style":"form","description":"Which page to start from","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bf6ac2d198e10"}},{"id":"3f3dfa6a4670c","name":"category","style":"form","description":"Category Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a7ad817d7610d"}},{"id":"848bb4a43f918","name":"id","style":"form","description":"Get result by id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a7ad817d7610d"}},{"id":"2373f3189aacc","name":"ids","style":"form","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/503f65b8e48ac"}},{"id":"ecf39d906c109","name":"sinceId","style":"form","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a7ad817d7610d"}},{"id":"b9b02c422f203","name":"type","style":"form","description":"Type Filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/503f65b8e48ac"}},{"id":"3a4ae2e8bf1e4","name":"targetCategoryId","style":"form","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/503f65b8e48ac"}},{"id":"6fe1cadc79241","name":"q","style":"form","description":"CategoryMapping search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/503f65b8e48ac"}}],"responses":{"default":{"$ref":"#/components/schemas/91554d3f0fc9c"}},"security":[{"$ref":"#/components/schemas/c9f1b53a40df0"},{"$ref":"#/components/schemas/c9e1b53a40f03"}],"servers":[{"$ref":"#/components/schemas/b3121864a7cc0"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"uk4eo5tht4q9l-category-mapping-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/category_mappings/source_category/{type}/{id}":{"delete":{"operationId":"l7keodqsj5d22","summary":"CategoryMapping DeleteSourceCategoryAction DELETE","description":"CategoryMapping deleteSourceCategoryAction","tags":[],"parameters":[{"id":"4f2b41d6e432c","name":"type","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/15f7f68cbe782"}},{"id":"b31f2ea824d61","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/af4ba24cd8a66"}}],"responses":{"default":{"$ref":"#/components/schemas/79f237777fb9a"}},"security":[{"$ref":"#/components/schemas/26d58f7342db6"},{"$ref":"#/components/schemas/26c58f7342c61"}],"servers":[{"$ref":"#/components/schemas/26034d8edc232"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"l7keodqsj5d22-category-mapping-delete-source-category-action-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/brands":{"post":{"operationId":"ykxwkxoica150","summary":"Brand POST","description":"Brand postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/db21abf5ca5a8"}},"requestBody":{"$ref":"#/components/schemas/7ef9ed3883b08"},"security":[{"$ref":"#/components/schemas/a7bb8e59a7ae9"},{"$ref":"#/components/schemas/a7cb8e59a7b5a"}],"servers":[{"$ref":"#/components/schemas/5cbe726d88ff7"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"ykxwkxoica150-brand-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"7gx87m7eojbyo","summary":"Brand LIST","description":"Tüm Marka (Brand) nesnelerini filtreleyerek ve sayfalandırarak listeler. Sıralama (`sort`), sayfalama (`limit`, `page`), tekil veya çoklu ID (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.","tags":[],"parameters":[{"id":"ddd4259fd2854","name":"sort","style":"form","description":"Sonuçların hangi alana göre sıralanacağını belirler. Artan (ascending) sıralama için alan adını (`id`), azalan (descending) sıralama için ise başına eksi işareti (`-`) ekleyin.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/163c90c0f8da8"}],"schema":{"$ref":"#/components/schemas/378df5248ea4d"}},{"id":"5e9a0ac23187e","name":"limit","style":"form","description":"Bir sayfada döndürülecek maksimum kayıt adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/645c75d5b19ca"}],"schema":{"$ref":"#/components/schemas/eae54c68c185d"}},{"id":"1fe59d3feee45","name":"page","style":"form","description":"Getirilecek sonuçların sayfa numarası.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/a8df7cfc264b2"}],"schema":{"$ref":"#/components/schemas/a2cb1436828b8"}},{"id":"a48022a292ca9","name":"id","style":"form","description":"Tek bir kayıt getirmek için kullanılan **benzersiz kimlik değeri (ID)**.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/5b062cf761cfd"}],"schema":{"$ref":"#/components/schemas/d9519b0744074"}},{"id":"cd8ada3e90709","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış **benzersiz kimlik değerleri (IDs)** listesi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/c52a8e33784fd"}],"schema":{"$ref":"#/components/schemas/09bee8410ea69"}},{"id":"7adfadff0f73b","name":"sinceId","style":"form","description":"Belirtilen ID değerinden **daha büyük ID'ye sahip** (sonraki) kayıtları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/f07a00ca80410"}],"schema":{"$ref":"#/components/schemas/ea3d5a91fb78e"}},{"id":"7810dc8e07212","name":"distributor","style":"form","description":"Markanın ilişkili olduğu **Tedarikçiye (Distributor)** göre filtreleme yapar.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/a2319b9f8eeea"}],"schema":{"$ref":"#/components/schemas/3fc394ecb9637"}},{"id":"3bd1dfda397a0","name":"displayShowcaseContent","style":"form","description":"displayShowcaseContent can be 0 1 or 2 ","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f5117150cdfdf"}},{"id":"bbc470ab80b8a","name":"status","style":"form","description":"Brand status search filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1f506e771e722"}},{"id":"4e0f563116d99","name":"displayShowcaseFooterContent","style":"form","description":"displayShowcaseFooterContent can be 0 1 or 2","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f5117150cdfdf"}},{"id":"427846b348926","name":"q","style":"form","description":"Gelişmiş Filtreleme (Query Filter). Alan bazlı kesin filtreleme yapmak için kullanılır. Kullanım: `q[<alan_adı>]=<değer>`","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/6a37a0d1b9d0c"}],"schema":{"$ref":"#/components/schemas/a382a8dbd1d4f"}},{"id":"425846b348c40","name":"s","style":"form","description":"Arama Anahtarı Filtresi (Search Keyword). Marka adında genel arama yapmak için kullanılır.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/e9deda812f3a9"}],"schema":{"$ref":"#/components/schemas/b0a63ba3cb4bc"}}],"responses":{"default":{"$ref":"#/components/schemas/048cc09a2c54f"}},"security":[{"$ref":"#/components/schemas/c3f3287ed83c3"},{"$ref":"#/components/schemas/c3e3287ed8510"}],"servers":[{"$ref":"#/components/schemas/309bf788f1b84"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"7gx87m7eojbyo-brand-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/brands/{id}":{"get":{"operationId":"i2zqlzh1svh44","summary":"Brand GET","description":"Brand getAction","tags":[],"parameters":[{"id":"7382854df10e6","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/eb33215ffa6d1"}}],"responses":{"default":{"$ref":"#/components/schemas/e81f25bb2717b"}},"security":[{"$ref":"#/components/schemas/6db6fec1006b1"},{"$ref":"#/components/schemas/6dc6fec10196e"}],"servers":[{"$ref":"#/components/schemas/d6ffc7e3f51e4"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"i2zqlzh1svh44-brand-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"kn71ftvzszu7w","summary":"Brand DELETE","description":"Brand deleteAction","tags":[],"parameters":[{"id":"16d7aa4756b2f","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/16a77acee9bb8"}}],"responses":{"default":{"$ref":"#/components/schemas/8a96e2d9b0302"}},"security":[{"$ref":"#/components/schemas/9ab25e2a518e4"},{"$ref":"#/components/schemas/9aa25e2a51e57"}],"servers":[{"$ref":"#/components/schemas/1ab8c47f2a459"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"kn71ftvzszu7w-brand-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"len3gjsndl91n","summary":"Brand PUT","description":"Brand putAction","tags":[],"parameters":[{"id":"1524da52034e0","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/11338ff1dbe1b"}}],"responses":{"default":{"$ref":"#/components/schemas/83043ee2778fc"}},"requestBody":{"$ref":"#/components/schemas/1a48441a0fd3a"},"security":[{"$ref":"#/components/schemas/3a1ae8ab4752a"},{"$ref":"#/components/schemas/3a2ae8ab47779"}],"servers":[{"$ref":"#/components/schemas/5f0ebd0a3a3c9"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"len3gjsndl91n-brand-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/brands/integration_distributors":{"get":{"operationId":"igciwrtyd2j2g","summary":"Brand GetUsedIntegrationDistributors GET","description":"Brand getUsedIntegrationDistributors","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/79545e215e19c"}},"security":[{"$ref":"#/components/schemas/14e3e89525e09"},{"$ref":"#/components/schemas/14d3e895241be"}],"servers":[{"$ref":"#/components/schemas/44fc8ec498ce9"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"igciwrtyd2j2g-brand-get-used-integration-distributors-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/brands/count":{"get":{"operationId":"m18ve41zcq3ba","summary":"Brand COUNT","description":"Tüm Marka (Brand) nesnelerini filtreleyerek ve sayfalandırarak listeler. Sıralama (`sort`), sayfalama (`limit`, `page`), tekil veya çoklu ID (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.","tags":[],"parameters":[{"id":"13366a8adccd6","name":"sort","style":"form","description":"Sonuçların hangi alana göre sıralanacağını belirler. Artan (ascending) sıralama için alan adını (`id`), azalan (descending) sıralama için ise başına eksi işareti (`-`) ekleyin.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/8d421b875ce49"}],"schema":{"$ref":"#/components/schemas/2edf4838858c3"}},{"id":"0288cba846be1","name":"limit","style":"form","description":"Bir sayfada döndürülecek maksimum kayıt adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/bec85f30fd119"}],"schema":{"$ref":"#/components/schemas/89b250590b545"}},{"id":"2be4ecc2fc7f1","name":"page","style":"form","description":"Getirilecek sonuçların sayfa numarası.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/e23ef6112b2dd"}],"schema":{"$ref":"#/components/schemas/f808598b8ec32"}},{"id":"7af4b2093e775","name":"id","style":"form","description":"Tek bir kayıt getirmek için kullanılan **benzersiz kimlik değeri (ID)**.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/19ac36523a87c"}],"schema":{"$ref":"#/components/schemas/b90ed8bccaf88"}},{"id":"116a85b49678d","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış **benzersiz kimlik değerleri (IDs)** listesi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/cd9172aa8a5a5"}],"schema":{"$ref":"#/components/schemas/18ed8057ddffd"}},{"id":"4a6159c153972","name":"sinceId","style":"form","description":"Belirtilen ID değerinden **daha büyük ID'ye sahip** (sonraki) kayıtları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/e62f4b153e9f0"}],"schema":{"$ref":"#/components/schemas/25b7e4f6cb1a2"}},{"id":"e399320d172b0","name":"distributor","style":"form","description":"Markanın ilişkili olduğu **Tedarikçiye (Distributor)** göre filtreleme yapar.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/a73199cccf251"}],"schema":{"$ref":"#/components/schemas/20c018afce95d"}},{"id":"ca65bbac04621","name":"displayShowcaseContent","style":"form","description":"displayShowcaseContent can be 0 1 or 2 ","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/20f16fbdbae8b"}},{"id":"62fbb54b47d40","name":"status","style":"form","description":"Brand status search filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3d50eee9b1da9"}},{"id":"8381bca8d2c71","name":"displayShowcaseFooterContent","style":"form","description":"displayShowcaseFooterContent can be 0 1 or 2","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/20f16fbdbae8b"}},{"id":"d17a912e84a5d","name":"q","style":"form","description":"Gelişmiş Filtreleme (Query Filter). Alan bazlı kesin filtreleme yapmak için kullanılır. Kullanım: `q[<alan_adı>]=<değer>`","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/fc28eae1170da"}],"schema":{"$ref":"#/components/schemas/1a1f522a86b6f"}},{"id":"d19a912e84927","name":"s","style":"form","description":"Arama Anahtarı Filtresi (Search Keyword). Marka adında genel arama yapmak için kullanılır.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/4f49d8e31b0e4"}],"schema":{"$ref":"#/components/schemas/bdd77f0d52f10"}}],"responses":{"default":{"$ref":"#/components/schemas/18c7dfc185b69"}},"security":[{"$ref":"#/components/schemas/0f4b02bb2f077"},{"$ref":"#/components/schemas/0f5b02bb2f200"}],"servers":[{"$ref":"#/components/schemas/ee89868899c5b"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"m18ve41zcq3ba-brand-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/brands/{id}":{"delete":{"operationId":"ucsaf9p3x01qi","summary":"Brand DELETE","description":"Brand deleteAction","tags":[],"parameters":[{"id":"d812c82e9dcc9","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bac6ab905a555"}}],"responses":{"default":{"$ref":"#/components/schemas/0056358b08f1b"}},"security":[{"$ref":"#/components/schemas/76dbe04f31e92"}],"servers":[{"$ref":"#/components/schemas/7ad0dd90f6490"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"ucsaf9p3x01qi-brand-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"x6gatgro6zrss","summary":"Brand GET","description":"Brand getAction","tags":[],"parameters":[{"id":"e8cd8477c34ac","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8efec68491038"}}],"responses":{"default":{"$ref":"#/components/schemas/d10019d5d633f"}},"security":[{"$ref":"#/components/schemas/70553384bb79b"}],"servers":[{"$ref":"#/components/schemas/3c2d97185a0cb"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"x6gatgro6zrss-brand-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"8yop761bu9c95","summary":"Brand PUT","description":"Brand putAction","tags":[],"parameters":[{"id":"b4f1be4aa42c4","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/37fea8993a69c"}}],"responses":{"default":{"$ref":"#/components/schemas/3530a2e7a8d7f"}},"requestBody":{"$ref":"#/components/schemas/bda276d82db96"},"security":[{"$ref":"#/components/schemas/0345cc65339a5"}],"servers":[{"$ref":"#/components/schemas/aa6bbb99c6cee"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"8yop761bu9c95-brand-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/brands":{"post":{"operationId":"e0m8ccuwlh5l5","summary":"Brand POST","description":"Brand postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/18c1c79a02542"}},"requestBody":{"$ref":"#/components/schemas/6994b7de7f389"},"security":[{"$ref":"#/components/schemas/0b832b48dc722"}],"servers":[{"$ref":"#/components/schemas/4e17af9509026"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"e0m8ccuwlh5l5-brand-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"omblcz04zbjmv","summary":"Brand LIST","description":"Tüm Marka (Brand) nesnelerini filtreleyerek ve sayfalandırarak listeler. Sıralama (`sort`), sayfalama (`limit`, `page`), tekil veya çoklu ID (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.","tags":[],"parameters":[{"id":"5131792491f7f","name":"sort","style":"form","description":"Sonuçların hangi alana göre sıralanacağını belirler. Artan (ascending) sıralama için alan adını (`id`), azalan (descending) sıralama için ise başına eksi işareti (`-`) ekleyin.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/2418d3db4749b"}],"schema":{"$ref":"#/components/schemas/16502af454458"}},{"id":"d4099b2cb5623","name":"limit","style":"form","description":"Bir sayfada döndürülecek maksimum kayıt adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/af75da95e9d7a"}],"schema":{"$ref":"#/components/schemas/d34791c3b7f6f"}},{"id":"12222854eee12","name":"page","style":"form","description":"Getirilecek sonuçların sayfa numarası.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/c43a504c7451a"}],"schema":{"$ref":"#/components/schemas/7cb2018532390"}},{"id":"03a3f2dc4a0dd","name":"sinceId","style":"form","description":"Belirtilen ID değerinden **daha büyük ID'ye sahip** (sonraki) kayıtları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/76b7c24eb14cd"}],"schema":{"$ref":"#/components/schemas/fc072294acb5d"}},{"id":"48caa4c01237d","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış **benzersiz kimlik değerleri (IDs)** listesi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/78712fbc9d332"}],"schema":{"$ref":"#/components/schemas/bb5088075f49d"}},{"id":"97d69e151979b","name":"name","style":"form","description":"Brand Name.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c35f8888fbaa3"}},{"id":"d55a428c78c95","name":"status","style":"form","description":"Status can be 0 or 1","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/67067f8a4feac"}},{"id":"441602c0d4c14","name":"distributor","style":"form","description":"Markanın ilişkili olduğu **Tedarikçiye (Distributor)** göre filtreleme yapar.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/c4b89bfd674e4"}],"schema":{"$ref":"#/components/schemas/60136cda60aef"}},{"id":"e620f4bffa233","name":"startDate","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fb1bc3bc869d8"}},{"id":"bfff1043530fc","name":"endDate","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fb1bc3bc869d8"}},{"id":"9f478210275e4","name":"startUpdatedAt","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fb1bc3bc869d8"}},{"id":"36e7419c4336d","name":"endUpdatedAt","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fb1bc3bc869d8"}},{"id":"896d49d238b80","name":"q","style":"form","description":"Gelişmiş Filtreleme (Query Filter). Alan bazlı kesin filtreleme yapmak için kullanılır. Kullanım: `q[<alan_adı>]=<değer>`","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/f5cc82a6294c0"}],"schema":{"$ref":"#/components/schemas/3c9099b3acdbd"}}],"responses":{"default":{"$ref":"#/components/schemas/0524b157f471a"}},"security":[{"$ref":"#/components/schemas/55361cfe18339"}],"servers":[{"$ref":"#/components/schemas/767d82d2029a6"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"omblcz04zbjmv-brand-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/tags":{"get":{"operationId":"0c9t65uyok36a","summary":"Tag LIST","description":"Tag cgetAction","tags":[],"parameters":[{"id":"dacdc4285aff3","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>,  azalan sıra için <code>sort=-id</code>.  Kullanılabilir alanlar: id, name, count.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/940765dcbbc89"}},{"id":"6309bc2e2024d","name":"limit","style":"form","description":"Bir sayfada dönecek tag sayısı. Minimum 1, maksimum 100.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1d6a32b2e0893"}},{"id":"935f3e2f7e5d3","name":"page","style":"form","description":"Hangi sayfadan başlanacağı. Minimum 1.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2db1edca4ea16"}},{"id":"a28c178f3968e","name":"id","style":"form","description":"Tek bir tag'ı getirmek için kullanılacak id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/060bc7246db38"}},{"id":"bd1c085ec3fb2","name":"ids","style":"form","description":"Çoklu tag sorgulamak için virgülle ayrılmış id listesi.  Örnek: <code>ids=1,2,3</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/940765dcbbc89"}},{"id":"f5e170205575e","name":"sinceId","style":"form","description":"Belirtilen id'den sonraki tagları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/060bc7246db38"}},{"id":"e9cc04c322d8c","name":"q","style":"form","description":"Tags arama filtresi. Kullanımı: <code>q[<geçerli-query-param>]</code> Örnek: <code>q[name]=example</code>\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/940765dcbbc89"}},{"id":"e9ac04c322e62","name":"s","style":"form","description":"Serbest metin arama için anahtar kelime.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/940765dcbbc89"}}],"responses":{"default":{"$ref":"#/components/schemas/dc2001905bcbf"}},"security":[{"$ref":"#/components/schemas/2c63419cdf9bb"},{"$ref":"#/components/schemas/2c53419cdffe8"}],"servers":[{"$ref":"#/components/schemas/aa83a60bb28b4"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"0c9t65uyok36a-tag-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"6knrwvsnk1254","summary":"Tag POST","description":"Tag postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/6c890fd3398ba"}},"requestBody":{"$ref":"#/components/schemas/ef73937bc00ee"},"security":[{"$ref":"#/components/schemas/2c025b5b1c6a4"},{"$ref":"#/components/schemas/2c125b5b1c4fb"}],"servers":[{"$ref":"#/components/schemas/d2b3b21b381e0"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"6knrwvsnk1254-tag-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/tags/{id}":{"put":{"operationId":"7xktposxr5hjq","summary":"Tag PUT","description":"Tag putAction","tags":[],"parameters":[{"id":"16b7e78a9398c","name":"id","style":"simple","description":"Güncellenecek tag'ın id değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1cd2b17db5702"}}],"responses":{"default":{"$ref":"#/components/schemas/f94a1c2f13742"}},"requestBody":{"$ref":"#/components/schemas/d240c125441b8"},"security":[{"$ref":"#/components/schemas/6a946fcdf2f62"},{"$ref":"#/components/schemas/6aa46fcdf2cb1"}],"servers":[{"$ref":"#/components/schemas/294f161234940"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"7xktposxr5hjq-tag-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"nwxea21spbglj","summary":"Tag DELETE","description":"Tag deleteAction","tags":[],"parameters":[{"id":"c863d4088150d","name":"id","style":"simple","description":"Silinecek tag'ın id değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ae99cf278889b"}}],"responses":{"default":{"$ref":"#/components/schemas/89e94fa7cf1bc"}},"security":[{"$ref":"#/components/schemas/2c1b819c5e383"},{"$ref":"#/components/schemas/2c2b819c5fdf0"}],"servers":[{"$ref":"#/components/schemas/cd9ee4cbb032c"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"nwxea21spbglj-tag-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"rbjdie0srsgze","summary":"Tag GET","description":"Tag getAction","tags":[],"parameters":[{"id":"066c99a03bca5","name":"id","style":"simple","description":"Getirilecek tag'ın id değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d7cc49bffd6cb"}}],"responses":{"default":{"$ref":"#/components/schemas/0e303663a599d"}},"security":[{"$ref":"#/components/schemas/69674c0b24755"},{"$ref":"#/components/schemas/69774c0b2411a"}],"servers":[{"$ref":"#/components/schemas/a1d6ddf0e7aff"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"rbjdie0srsgze-tag-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/tags/count":{"get":{"operationId":"9avdkyp17j2k2","summary":"Tag COUNT","description":"Tag cgetAction","tags":[],"parameters":[{"id":"8ce2905dc4773","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>,  azalan sıra için <code>sort=-id</code>.  Kullanılabilir alanlar: id, name, count.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0a9f15ea42c86"}},{"id":"8f67e8f056fd3","name":"limit","style":"form","description":"Bir sayfada dönecek tag sayısı. Minimum 1, maksimum 100.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ed052d639fb3f"}},{"id":"7c322250868cf","name":"page","style":"form","description":"Hangi sayfadan başlanacağı. Minimum 1.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3004edaade20c"}},{"id":"48d0530ad3426","name":"id","style":"form","description":"Tek bir tag'ı getirmek için kullanılacak id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d4e31f4ab6eb6"}},{"id":"aaed1b6622340","name":"ids","style":"form","description":"Çoklu tag sorgulamak için virgülle ayrılmış id listesi.  Örnek: <code>ids=1,2,3</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0a9f15ea42c86"}},{"id":"026acaff8ff63","name":"sinceId","style":"form","description":"Belirtilen id'den sonraki tagları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d4e31f4ab6eb6"}},{"id":"646d7fe589314","name":"q","style":"form","description":"Tags arama filtresi. Kullanımı: <code>q[<geçerli-query-param>]</code> Örnek: <code>q[name]=example</code>\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0a9f15ea42c86"}},{"id":"648d7fe58aef2","name":"s","style":"form","description":"Serbest metin arama için anahtar kelime.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0a9f15ea42c86"}}],"responses":{"default":{"$ref":"#/components/schemas/410ed4439792e"}},"security":[{"$ref":"#/components/schemas/3c42b95aa4879"},{"$ref":"#/components/schemas/3c32b95aa4ea6"}],"servers":[{"$ref":"#/components/schemas/c4a6e57597b3d"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"9avdkyp17j2k2-tag-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/tags/{id}":{"get":{"operationId":"2xnbq9jzhb6c8","summary":"Tag GET","description":"Tag getAction","tags":[],"parameters":[{"id":"64f097053cc96","name":"id","style":"simple","description":"Getirilecek tag'ın id değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ded144e790964"}}],"responses":{"default":{"$ref":"#/components/schemas/55323b63c5ef9"}},"security":[{"$ref":"#/components/schemas/f308164892003"}],"servers":[{"$ref":"#/components/schemas/b9c7ef84ca4b4"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"2xnbq9jzhb6c8-tag-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"0kbbiwhcjq8c3","summary":"Tag PUT","description":"Tag putAction","tags":[],"parameters":[{"id":"8270c38a33cf4","name":"id","style":"simple","description":"Güncellenecek tag'ın id değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/80bc9b801f489"}}],"responses":{"default":{"$ref":"#/components/schemas/0aec0b5c233fb"}},"requestBody":{"$ref":"#/components/schemas/d71253d5144f5"},"security":[{"$ref":"#/components/schemas/d145a4d6c7880"}],"servers":[{"$ref":"#/components/schemas/b59c843b1e196"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"0kbbiwhcjq8c3-tag-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"ey7da7gedjbv8","summary":"Tag DELETE","description":"Tag deleteAction","tags":[],"parameters":[{"id":"d7c335eadd6dc","name":"id","style":"simple","description":"Silinecek tag'ın id değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1695bd265d4ff"}}],"responses":{"default":{"$ref":"#/components/schemas/100a4fcbd5303"}},"security":[{"$ref":"#/components/schemas/0a38e06ccaabf"}],"servers":[{"$ref":"#/components/schemas/5108cb216df15"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"ey7da7gedjbv8-tag-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/tags":{"post":{"operationId":"vcmolso0tzwat","summary":"Tag POST","description":"Tag postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/4b6d7d951c7a7"}},"requestBody":{"$ref":"#/components/schemas/6164ee9328a0b"},"security":[{"$ref":"#/components/schemas/56a7977cca324"}],"servers":[{"$ref":"#/components/schemas/b47380eec39ea"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"vcmolso0tzwat-tag-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"b81y5uzoncgzb","summary":"Tag LIST","description":"Tag cgetAction","tags":[],"parameters":[{"id":"edced2b2e88d0","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>,  azalan sıra için <code>sort=-id</code>.  Kullanılabilir alanlar: id, name, count.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/886a403ab6227"}},{"id":"158e223187258","name":"limit","style":"form","description":"Bir sayfada dönecek tag sayısı. Minimum 1, maksimum 100.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ae7a0711a31c7"}},{"id":"2fe04a5304bc1","name":"page","style":"form","description":"Hangi sayfadan başlanacağı. Minimum 1.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7354c4b87293e"}},{"id":"879dd61202fb2","name":"sinceId","style":"form","description":"Belirtilen id'den sonraki tagları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6fcd72de4b079"}},{"id":"696c3cec37014","name":"ids","style":"form","description":"Çoklu tag sorgulamak için virgülle ayrılmış id listesi.  Örnek: <code>ids=1,2,3</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/886a403ab6227"}},{"id":"f99d02b45c86a","name":"name","style":"form","description":"Tag Name.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/886a403ab6227"}}],"responses":{"default":{"$ref":"#/components/schemas/a86cb50da22bb"}},"security":[{"$ref":"#/components/schemas/783a876de5ffd"}],"servers":[{"$ref":"#/components/schemas/f1c0355f95efb"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"b81y5uzoncgzb-tag-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/labels/{id}":{"put":{"operationId":"q1ksg65096x20","summary":"Label PUT","description":"Label putAction","tags":[],"parameters":[{"id":"3d7aa086fe2cb","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/34035038ea429"}}],"responses":{"default":{"$ref":"#/components/schemas/2c06c41fc46d8"}},"requestBody":{"$ref":"#/components/schemas/ae9d9a991125b"},"security":[{"$ref":"#/components/schemas/ec8ac710e081b"},{"$ref":"#/components/schemas/ec7ac710e09a8"}],"servers":[{"$ref":"#/components/schemas/3bacfb3cf6f37"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"q1ksg65096x20-label-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"6fsuuiyqqar3u","summary":"Label GET","description":"Label getAction","tags":[],"parameters":[{"id":"0a921459fa2f2","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6b5d5f6563664"}}],"responses":{"default":{"$ref":"#/components/schemas/951e8c26a1601"}},"security":[{"$ref":"#/components/schemas/38d2df2bdfac0"},{"$ref":"#/components/schemas/38e2df2bdfb13"}],"servers":[{"$ref":"#/components/schemas/b215e9a0e90b8"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"6fsuuiyqqar3u-label-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"cwzfnb3m4jvhc","summary":"Label DELETE","description":"Label deleteAction","tags":[],"parameters":[{"id":"e9758a4a6b68a","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2d9d56832237a"}}],"responses":{"default":{"$ref":"#/components/schemas/2e1e02cf2c3f0"}},"security":[{"$ref":"#/components/schemas/8cfbacf079a37"},{"$ref":"#/components/schemas/8cebacf079cc4"}],"servers":[{"$ref":"#/components/schemas/f4ea7ad09223d"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"cwzfnb3m4jvhc-label-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/labels":{"get":{"operationId":"dxgupbjn0do0m","summary":"Label LIST","description":"Label cgetAction","tags":[],"parameters":[{"id":"7aeb4c0fb14bd","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1e6e2b2b6f73e"}},{"id":"6696a4991a6e7","name":"limit","style":"form","description":"Bir sayfada gelecek Labels adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ecd065919e36f"}},{"id":"435baf2fedc1c","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/da4c22378a0a0"}},{"id":"2b0e454d92f24","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1f775312522b7"}},{"id":"d1bfc2d0342d0","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1e6e2b2b6f73e"}},{"id":"afe478e50ced0","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir ","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1f775312522b7"}},{"id":"c89c5c526a559","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1e6e2b2b6f73e"}},{"id":"1ceaa13faa119","name":"root","style":"form","description":"Label root id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6fc0e4699d5f7"}},{"id":"8f13e8b49459d","name":"startCreatedAt","style":"form","description":"createdAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b049922baa30d"}},{"id":"d4af7ea82dc02","name":"endCreatedAt","style":"form","description":"createdAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b049922baa30d"}},{"id":"9a48cf6bd13dc","name":"startUpdatedAt","style":"form","description":"updatedAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b049922baa30d"}},{"id":"d123af14ad53c","name":"endUpdatedAt","style":"form","description":"updatedAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b049922baa30d"}},{"id":"7f3750c8dceb1","name":"q","style":"form","description":"Label arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1e6e2b2b6f73e"}},{"id":"7f1750c8dcd0b","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1e6e2b2b6f73e"}}],"responses":{"default":{"$ref":"#/components/schemas/3fe8d1ec6e2d6"}},"security":[{"$ref":"#/components/schemas/1225a8d8f0cf9"},{"$ref":"#/components/schemas/1235a8d8f0a4a"}],"servers":[{"$ref":"#/components/schemas/d4658b301ad35"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"dxgupbjn0do0m-label-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"fke5ihr9f7nvt","summary":"Label POST","description":"Label postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/a9d52971686f9"}},"requestBody":{"$ref":"#/components/schemas/ee2ba3d7bafd3"},"security":[{"$ref":"#/components/schemas/7f7c2379ed9a0"},{"$ref":"#/components/schemas/7f8c2379edfef"}],"servers":[{"$ref":"#/components/schemas/0b3ada7729962"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"fke5ihr9f7nvt-label-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/labels/count":{"get":{"operationId":"kqmcuz51nk4if","summary":"Label COUNT","description":"Label cgetAction","tags":[],"parameters":[{"id":"4033942c5ed23","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9b3836bbc9e93"}},{"id":"b141d3c17bb88","name":"limit","style":"form","description":"Bir sayfada gelecek Labels adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fb4c01627b5cd"}},{"id":"218339a23f6d3","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/492bea9bbce34"}},{"id":"0b9a968b43b39","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/cf751583332ab"}},{"id":"7d9dcea42916b","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9b3836bbc9e93"}},{"id":"8e45929c8ffdc","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir ","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/cf751583332ab"}},{"id":"53cda318f8c09","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9b3836bbc9e93"}},{"id":"913448d6a6964","name":"root","style":"form","description":"Label root id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d4c0827f6c0a1"}},{"id":"7fbb679b188d6","name":"startCreatedAt","style":"form","description":"createdAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aa577c46c6268"}},{"id":"2a0218492e41f","name":"endCreatedAt","style":"form","description":"createdAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aa577c46c6268"}},{"id":"2a84cd9d61f0d","name":"startUpdatedAt","style":"form","description":"updatedAt değeri için başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aa577c46c6268"}},{"id":"23b68763c436c","name":"endUpdatedAt","style":"form","description":"updatedAt değeri için bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aa577c46c6268"}},{"id":"ceb9e1be6ad78","name":"q","style":"form","description":"Label arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9b3836bbc9e93"}},{"id":"ced9e1be6b21e","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9b3836bbc9e93"}}],"responses":{"default":{"$ref":"#/components/schemas/97d27a7b58b21"}},"security":[{"$ref":"#/components/schemas/f7424791b0a19"},{"$ref":"#/components/schemas/f7324791af5ee"}],"servers":[{"$ref":"#/components/schemas/e31da212fe2b5"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"kqmcuz51nk4if-label-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/labels/tree":{"get":{"operationId":"btz6q7j12cx0w","summary":"Label TreeAction GET","description":"Label treeAction","tags":[],"parameters":[{"id":"0d3100ffab9c4","name":"limit","style":"form","description":"Bir sayfada gelecek Labels adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9907d51c72108"}},{"id":"7068b872df768","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/135d99e538363"}},{"id":"f338716ac6fbc","name":"q","style":"form","description":"Label arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/055050e39045b"}},{"id":"f358716ac6ac2","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/055050e39045b"}}],"responses":{"default":{"$ref":"#/components/schemas/57462d995a8f3"}},"security":[{"$ref":"#/components/schemas/ef28ac1bb5085"},{"$ref":"#/components/schemas/ef18ac1bb52ca"}],"servers":[{"$ref":"#/components/schemas/806dd50b7df09"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"btz6q7j12cx0w-label-tree-action-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/labels/search_tree":{"get":{"operationId":"h7mxo9o6pwb2
[...]
