{"openapi":"3.0.0","info":{"title":"Ideasoft Commerce — orders","version":"3.2.0","x-commerce-group":"orders","description":"AI-friendly commerce grouping: orders"},"servers":[{"url":"https://magaza-adiniz.myideasoft.com"}],"paths":{"/admin-api/orders/{id}":{"delete":{"operationId":"4xsxdhmkoj5ud","summary":"Order DELETE","description":"Order deleteAction","tags":[],"parameters":[{"id":"5893385e8c0ca","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/cb9d6955ea0f8"}}],"responses":{"default":{"$ref":"#/components/schemas/4d14b77b6b8fc"}},"security":[{"$ref":"#/components/schemas/a95e39944aee8"},{"$ref":"#/components/schemas/a96e39944b0bb"}],"servers":[{"$ref":"#/components/schemas/5931d4a22474d"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"4xsxdhmkoj5ud-order-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"wdqlg4iwn7zt8","summary":"Order PUT","description":"Order putAction","tags":[],"parameters":[{"id":"f9a73f80add53","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/25c3557f3cb4d"}}],"responses":{"default":{"$ref":"#/components/schemas/851fbe9f11884"}},"requestBody":{"$ref":"#/components/schemas/88696c1026999"},"security":[{"$ref":"#/components/schemas/6157f5b762e1e"},{"$ref":"#/components/schemas/6167f5b7628ad"}],"servers":[{"$ref":"#/components/schemas/95ba4a3b37452"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"wdqlg4iwn7zt8-order-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"jv852xu184aq9","summary":"Order GET","description":"Order getAction","tags":[],"parameters":[{"id":"235473cfa1960","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/df452c32af5a8"}}],"responses":{"default":{"$ref":"#/components/schemas/5c8bb048c1268"}},"security":[{"$ref":"#/components/schemas/f31f58fb1ee4d"},{"$ref":"#/components/schemas/f32f58fb1ecbe"}],"servers":[{"$ref":"#/components/schemas/c65acb93e89a7"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"jv852xu184aq9-order-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/orders/count":{"get":{"operationId":"1b2d02gj1pe45","summary":"Order COUNT","description":"Order cgetAction","tags":[],"parameters":[{"id":"8d2acc1c1b6c5","name":"sort","style":"form","description":"Sıralama değeri. Örnek: artan sıra için `sort=id`, azalan sıra için `sort=-id`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"fa256d5e10858","name":"limit","style":"form","description":"Bir sayfada dönecek Order adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6568054d75219"}},{"id":"7c7a5e0edd925","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a7375fb3a5da5"}},{"id":"dbd41389c12c2","name":"id","style":"form","description":"Tekli listeleme için ID değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9576084fe67ba"}},{"id":"ea4d33139716d","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış ID listesi. Örn: `ids=1,2,3,4`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"100dbff5c1dfb","name":"sinceId","style":"form","description":"Belirtilen ID’den sonraki kayıtları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9576084fe67ba"}},{"id":"a59c96b3ce80f","name":"q","style":"form","description":"Order arama filtresi. Kullanım: `q[<geçerli-query-parametresi>]`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"48564d4c348ab","name":"status","style":"form","description":"Order durumu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/da3b94c61d913"}},{"id":"fced1fe98d088","name":"paymentStatus","style":"form","description":"Order ödeme durumu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c2efdf0ad8e55"}},{"id":"5d6eb7acb40d7","name":"paymentTypeName","style":"form","description":"Order ödeme tipi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d2ac49c44623a"}},{"id":"d466f34177952","name":"shippingProviderCode","style":"form","description":"Kargo sağlayıcı kodu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"65d87400d3ae6","name":"shippingCompany","style":"form","description":"Kargo şirketi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"7ff39a33ca9ee","name":"startCreatedAt","style":"form","description":"createdAt başlangıç tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c82f1d755cb11"}},{"id":"ec9841a4f1733","name":"endCreatedAt","style":"form","description":"createdAt bitiş tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c82f1d755cb11"}},{"id":"a1aa7496cf146","name":"filterCurrency","style":"form","description":"Currency filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9576084fe67ba"}},{"id":"67c4d783ad2ee","name":"minPrice","style":"form","description":"Minimum fiyat filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"9754a102dc5d5","name":"maxPrice","style":"form","description":"Maksimum fiyat filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"0ce049d7494e4","name":"member","style":"form","description":"Member filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9576084fe67ba"}},{"id":"3c401982d0a02","name":"memberGroup","style":"form","description":"Member group filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8d00b95121259"}},{"id":"dc439b457cb5e","name":"billingFullname","style":"form","description":"Fatura ismi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"5f1b0af42d3e0","name":"billingLocation","style":"form","description":"Fatura lokasyonu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"214b394ab0554","name":"customerFullname","style":"form","description":"Müşteri ismi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"578c7cbc53e84","name":"productName","style":"form","description":"Ürün adı filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"73e391b2f0245","name":"productId","style":"form","description":"Ürün ID filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"5d909b20255a4","name":"productSku","style":"form","description":"Ürün SKU filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"3ca4181b70ab8","name":"shippingMobilePhoneNumber","style":"form","description":"Kargo telefon numarası filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"0f54e64b659ce","name":"referrer","style":"form","description":"Order yönlendirme filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"0f591faf32558","name":"deviceType","style":"form","description":"Cihaz tipi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6894432f65fa4"}},{"id":"7c8460d147eb5","name":"paidFromCurrentAccount","style":"form","description":"Cari hesaptan ödeme filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bdd093d1c1311"}},{"id":"d2c7348b5daf0","name":"cardSavingSystem","style":"form","description":"Kart saklama sistemi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e9bc72a1b934c"}},{"id":"6aa54b8454473","name":"startShippingDate","style":"form","description":"Kargo başlangıç tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c82f1d755cb11"}},{"id":"57ec07bbb2169","name":"endShippingDate","style":"form","description":"Kargo bitiş tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c82f1d755cb11"}},{"id":"8916d671124d7","name":"cargoTrackingCodeNonExisting","style":"form","description":"Takip kodu olmayan sipariş filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6df59cfad51ac"}},{"id":"f43d3e619a095","name":"couponCode","style":"form","description":"Kupon kodu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"3930a58355764","name":"couponUsage","style":"form","description":"Coupon code usage filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"8cdcd2a990f09","name":"userNote","style":"form","description":"Order user note usage filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"5d2931bbe88d9","name":"promotionCode","style":"form","description":"Promotion code filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"467b8297bbb5e","name":"promotionUsage","style":"form","description":"Promotion code usage filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}},{"id":"093f2d4096bb8","name":"gatewayCode","style":"form","description":"Ödeme gateway kodu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8b16619ddc1d4"}},{"id":"f271ab7f66d7c","name":"ideaexportOrderStatus","style":"form","description":"Order ideaexport status search filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bdd093d1c1311"}},{"id":"a5bc96b3cebe9","name":"s","style":"form","description":"Arama anahtarı filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f715f0ac8e793"}}],"responses":{"default":{"$ref":"#/components/schemas/589c7ba2ff8a8"}},"security":[{"$ref":"#/components/schemas/6e6cf31a59bee"},{"$ref":"#/components/schemas/6e5cf31a59d91"}],"servers":[{"$ref":"#/components/schemas/67e71110fe9f9"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"1b2d02gj1pe45-order-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/orders":{"get":{"operationId":"taanqcwvy12qa","summary":"Order LIST","description":"Order cgetAction","tags":[],"parameters":[{"id":"4b4e35e91d9b8","name":"sort","style":"form","description":"Sıralama değeri. Örnek: artan sıra için `sort=id`, azalan sıra için `sort=-id`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"1f82a7794a96f","name":"limit","style":"form","description":"Bir sayfada dönecek Order adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4b2b53c38e273"}},{"id":"2c9ddb5efdbba","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/96076c49ecdd6"}},{"id":"6929e4e2ef2ee","name":"id","style":"form","description":"Tekli listeleme için ID değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1525632d114f3"}},{"id":"881fed9d88225","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış ID listesi. Örn: `ids=1,2,3,4`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"79d314b2b99eb","name":"sinceId","style":"form","description":"Belirtilen ID’den sonraki kayıtları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1525632d114f3"}},{"id":"db7bd4636626c","name":"q","style":"form","description":"Order arama filtresi. Kullanım: `q[<geçerli-query-parametresi>]`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"64d3016ee6ca5","name":"status","style":"form","description":"Order durumu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/695f235669bda"}},{"id":"a0e9d0195954f","name":"paymentStatus","style":"form","description":"Order ödeme durumu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6aca274f58b6a"}},{"id":"dd00124eeac95","name":"paymentTypeName","style":"form","description":"Order ödeme tipi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/696490d5b86f5"}},{"id":"8c60ea0d50b2a","name":"shippingProviderCode","style":"form","description":"Kargo sağlayıcı kodu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"0095e233e7b28","name":"shippingCompany","style":"form","description":"Kargo şirketi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"1ffdd4bc8faef","name":"startCreatedAt","style":"form","description":"createdAt başlangıç tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/eb71332efd93e"}},{"id":"4ce909235ff5e","name":"endCreatedAt","style":"form","description":"createdAt bitiş tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/eb71332efd93e"}},{"id":"b349c3ca57c33","name":"filterCurrency","style":"form","description":"Currency filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1525632d114f3"}},{"id":"9a899222c61a3","name":"minPrice","style":"form","description":"Minimum fiyat filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"eb0cee88d2d48","name":"maxPrice","style":"form","description":"Maksimum fiyat filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"d25d37dec108a","name":"member","style":"form","description":"Member filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1525632d114f3"}},{"id":"5a626ff0f9253","name":"memberGroup","style":"form","description":"Member group filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d17e6871521a7"}},{"id":"9e741da29af5f","name":"billingFullname","style":"form","description":"Fatura ismi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"377ea31064831","name":"billingLocation","style":"form","description":"Fatura lokasyonu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"b9de436aed037","name":"customerFullname","style":"form","description":"Müşteri ismi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"c56d5d2706cbb","name":"productName","style":"form","description":"Ürün adı filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"90afb6d42c9d2","name":"productId","style":"form","description":"Ürün ID filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"8d73a8c7c6912","name":"productSku","style":"form","description":"Ürün SKU filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"de3be888e4325","name":"shippingMobilePhoneNumber","style":"form","description":"Kargo telefon numarası filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"28ec3e5e24832","name":"referrer","style":"form","description":"Order yönlendirme filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"3a2245b85d193","name":"deviceType","style":"form","description":"Cihaz tipi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5d5ad652bccf8"}},{"id":"0ce7fd33b82f4","name":"paidFromCurrentAccount","style":"form","description":"Cari hesaptan ödeme filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/276ccbda64fbe"}},{"id":"db851a964ae1e","name":"cardSavingSystem","style":"form","description":"Kart saklama sistemi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ae6ea1909ba45"}},{"id":"4c7329b35535a","name":"startShippingDate","style":"form","description":"Kargo başlangıç tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/eb71332efd93e"}},{"id":"32de38b6be213","name":"endShippingDate","style":"form","description":"Kargo bitiş tarihi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/eb71332efd93e"}},{"id":"157d19ab232f6","name":"cargoTrackingCodeNonExisting","style":"form","description":"Takip kodu olmayan sipariş filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c41b6dc6af431"}},{"id":"a7a476738315b","name":"couponCode","style":"form","description":"Kupon kodu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"4b1bff7edd45e","name":"couponUsage","style":"form","description":"Coupon code usage filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"31b9510d40850","name":"userNote","style":"form","description":"Order user note usage filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"31911be73f5b4","name":"promotionCode","style":"form","description":"Promotion code filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"dc744c3d35223","name":"promotionUsage","style":"form","description":"Promotion code usage filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}},{"id":"ed93b1f325a32","name":"gatewayCode","style":"form","description":"Ödeme gateway kodu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bf9764f934c93"}},{"id":"834f6a748b734","name":"ideaexportOrderStatus","style":"form","description":"Order ideaexport status search filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/276ccbda64fbe"}},{"id":"db9bd4636670a","name":"s","style":"form","description":"Arama anahtarı filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ca8a11fe877ac"}}],"responses":{"default":{"$ref":"#/components/schemas/e96710964b12d"}},"security":[{"$ref":"#/components/schemas/20f102b2541b0"},{"$ref":"#/components/schemas/20e102b2547ff"}],"servers":[{"$ref":"#/components/schemas/738c0064d7f54"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"taanqcwvy12qa-order-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/orders/{id}":{"put":{"operationId":"9zvhacytrysuv","summary":"Order PUT","description":"Order putAction","tags":[],"parameters":[{"id":"8edc15cb51a2a","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/614432cbe540d"}}],"responses":{"default":{"$ref":"#/components/schemas/0c98782b0700c"}},"requestBody":{"$ref":"#/components/schemas/3bcc9d7354a4c"},"security":[{"$ref":"#/components/schemas/e84d31533d2c7"}],"servers":[{"$ref":"#/components/schemas/ba9f2c99bdac9"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"9zvhacytrysuv-order-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"8ssspm2fl1kyl","summary":"Order GET","description":"Order getAction","tags":[],"parameters":[{"id":"c922de4f82e49","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/94ada268c8d44"}}],"responses":{"default":{"$ref":"#/components/schemas/2640dad6b9dd7"}},"security":[{"$ref":"#/components/schemas/b34fefdb4e183"}],"servers":[{"$ref":"#/components/schemas/6c6e62e4df795"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"8ssspm2fl1kyl-order-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"ozyv4z4mw90pw","summary":"Order DELETE","description":"Order deleteAction","tags":[],"parameters":[{"id":"24d42bf7ad56e","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/26662e2add231"}}],"responses":{"default":{"$ref":"#/components/schemas/0509c66bff1af"}},"security":[{"$ref":"#/components/schemas/a1ab41b9d84e1"}],"servers":[{"$ref":"#/components/schemas/c76ed14bcfae0"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"ozyv4z4mw90pw-order-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/orders/cart/{cartId}":{"post":{"operationId":"qigigx2ofw52i","summary":"Order PreOrderAction POST","description":"Order preOrderAction","tags":[],"parameters":[{"id":"c119b2eaa18bf","name":"cartId","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5bb724d17965a"}}],"responses":{"default":{"$ref":"#/components/schemas/a9c4acc2c7498"}},"requestBody":{"$ref":"#/components/schemas/51bdfd204042c"},"security":[{"$ref":"#/components/schemas/48039a2fad8f1"}],"servers":[{"$ref":"#/components/schemas/6e190013d9212"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"qigigx2ofw52i-order-pre-order-action-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/orders":{"get":{"operationId":"g7k3u91q8wzss","summary":"Order LIST","description":"Order cgetAction","tags":[],"parameters":[{"id":"a2de04ad22e5c","name":"sort","style":"form","description":"Sıralama değeri. Örnek: artan sıra için `sort=id`, azalan sıra için `sort=-id`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fd32d36171a93"}},{"id":"3d1f826f829f5","name":"limit","style":"form","description":"Bir sayfada dönecek Order adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/37ddba12c9ec8"}},{"id":"326f8390a300e","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4886fe63867da"}},{"id":"f919abdf96b25","name":"sinceId","style":"form","description":"Belirtilen ID’den sonraki kayıtları getirir.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bd5ab5fbc08a8"}},{"id":"ddb3a13db0e3a","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış ID listesi. Örn: `ids=1,2,3,4`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fd32d36171a93"}},{"id":"81321a4ff1e29","name":"transactionId","style":"form","description":"Transaction id.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fd32d36171a93"}},{"id":"229eb816f4a84","name":"customerEmail","style":"form","description":"Customer email.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fd32d36171a93"}},{"id":"3a798bfc2638a","name":"member","style":"form","description":"Member filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bd5ab5fbc08a8"}},{"id":"dac594f2268e8","name":"status","style":"form","description":"Order durumu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/eea8397b46513"}},{"id":"7f98bea66a5e0","name":"paymentStatus","style":"form","description":"Order ödeme durumu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e0bbde50e1497"}},{"id":"0c548528b09f5","name":"paymentTypeName","style":"form","description":"Order ödeme tipi filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9e3260c125604"}},{"id":"be9871d6a81e3","name":"shippingProviderCode","style":"form","description":"Kargo sağlayıcı kodu filtresi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5247edb4dbd7a"}},{"id":"18cf702a7fe8d","name":"q","style":"form","description":"Order arama filtresi. Kullanım: `q[<geçerli-query-parametresi>]`.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fd32d36171a93"}},{"id":"4e36d74506564","name":"startDate","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5f0d965cc3f5c"}},{"id":"bd5226eb7b704","name":"endDate","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5f0d965cc3f5c"}},{"id":"a3e9c4f88f02a","name":"startUpdatedAt","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5f0d965cc3f5c"}},{"id":"54dbd5c61e876","name":"endUpdatedAt","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5f0d965cc3f5c"}}],"responses":{"default":{"$ref":"#/components/schemas/375271041119b"}},"security":[{"$ref":"#/components/schemas/211b75e902880"}],"servers":[{"$ref":"#/components/schemas/aa702b35b6761"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"g7k3u91q8wzss-order-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"jhqdnedyiyq05","summary":"Order POST","description":"Order postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/b9d60ac07afc6"}},"requestBody":{"$ref":"#/components/schemas/033db7025d4bf"},"security":[{"$ref":"#/components/schemas/352a1579c3b35"}],"servers":[{"$ref":"#/components/schemas/f7642f1fc0fa9"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"jhqdnedyiyq05-order-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/orders/charts":{"get":{"operationId":"wouyvu14g0ese","summary":"Order ChartsAction GET","description":"Order chartsAction","tags":[],"parameters":[{"id":"b669c5ae7413b","name":"timeFrame","style":"form","description":"Can be these values: full, year, month or week","required":true,"allowEmptyValue":false,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/338b6d95e6a17"}},{"id":"49fa2b5d926b0","name":"startDate","style":"form","description":"Start of the time frame","required":true,"allowEmptyValue":false,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/963aaeb9e5883"}}],"responses":{"default":{"$ref":"#/components/schemas/c5f235c9d622d"}},"security":[{"$ref":"#/components/schemas/5c43f51ab8913"}],"servers":[{"$ref":"#/components/schemas/719f9d7bcb39c"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"wouyvu14g0ese-order-charts-action-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/orders/combined":{"get":{"operationId":"nnnp9tmgks8r0","summary":"Order CombinedAction GET","description":"Order combinedAction","tags":[],"parameters":[{"id":"5eee03e80bfeb","name":"status","style":"form","description":"Status can be waiting_for_approval, approved, fulfilled, cancelled, delivered, on_accumulation, waiting_for_payment, being_prepared, refunded, personal_status_1, personal_status_2 or personal_status_3","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ef6cccadeb387"}}],"responses":{"default":{"$ref":"#/components/schemas/6ec1fa1cdc43b"}},"security":[{"$ref":"#/components/schemas/0082b7cc88fb4"}],"servers":[{"$ref":"#/components/schemas/b4f08a19f4863"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"nnnp9tmgks8r0-order-combined-action-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_details":{"get":{"operationId":"otyv6bn764scr","summary":"OrderDetail LIST","description":"OrderDetail cgetAction","tags":[],"parameters":[{"id":"20a8a4e96b07f","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/80aa960b73002"}],"schema":{"$ref":"#/components/schemas/f3c859ab883c9"}},{"id":"35ae54d1a6479","name":"limit","style":"form","description":"Bir sayfada gelecek OrderDetail adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/a4f08c63e1495"}],"schema":{"$ref":"#/components/schemas/6305d5b0c04e5"}},{"id":"62ba1c89872a9","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/5bc76e1c01e42"}],"schema":{"$ref":"#/components/schemas/b12d222e30da8"}},{"id":"3fda451112215","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/9a486d95164d0"}],"schema":{"$ref":"#/components/schemas/a12a220488819"}},{"id":"cfb35c021d338","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/f04549e5546c2"}],"schema":{"$ref":"#/components/schemas/5c7a1de0bc060"}},{"id":"8eea2a35e3678","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/9754cfaba2cb8"}],"schema":{"$ref":"#/components/schemas/74cac005f2b11"}},{"id":"ff3da1ff740db","name":"q","style":"form","description":"OrderDetail arama filtresi. Kullanımı: <code>q[&lt;geçerli-query-parametresi&gt;]</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/214bc2d18829d"}],"schema":{"$ref":"#/components/schemas/01828ddf4d5e6"}},{"id":"1854737db3e52","name":"order","style":"form","description":"Order Id.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/2bcc926427715"}],"schema":{"$ref":"#/components/schemas/c337f9dc012ce"}},{"id":"ff1da1ff743bd","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/acc7c6b5e1e03"}],"schema":{"$ref":"#/components/schemas/51e1b1ee25b31"}}],"responses":{"default":{"$ref":"#/components/schemas/242519d4bf3fb"}},"security":[{"$ref":"#/components/schemas/0b0469e4b4e1e"},{"$ref":"#/components/schemas/0af469e4b4ced"}],"servers":[{"$ref":"#/components/schemas/340c1abbc8de0"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"otyv6bn764scr-order-detail-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_details/count":{"get":{"operationId":"p0m5km4u84mla","summary":"OrderDetail COUNT","description":"OrderDetail cgetAction","tags":[],"parameters":[{"id":"39bb24bd46a41","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/71e2c0a100c35"}],"schema":{"$ref":"#/components/schemas/b0c4621d8aa31"}},{"id":"e9a5032fb37a1","name":"limit","style":"form","description":"Bir sayfada gelecek OrderDetail adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/62852f23599af"}],"schema":{"$ref":"#/components/schemas/ab99410994546"}},{"id":"c4cca12e4418d","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/d59dcab130a55"}],"schema":{"$ref":"#/components/schemas/f163cb031603f"}},{"id":"d0ef417dc92fe","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/60db1ae48b359"}],"schema":{"$ref":"#/components/schemas/db7f3533d1bfe"}},{"id":"73dc48bd44b5b","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/6a257409d2676"}],"schema":{"$ref":"#/components/schemas/caf99a2f33b25"}},{"id":"5c0769d711715","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/6082464c9bc0f"}],"schema":{"$ref":"#/components/schemas/452a7db35de6b"}},{"id":"82489182f2254","name":"q","style":"form","description":"OrderDetail arama filtresi. Kullanımı: <code>q[&lt;geçerli-query-parametresi&gt;]</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/ea45788882076"}],"schema":{"$ref":"#/components/schemas/27a3e211327ab"}},{"id":"6b643320a8db1","name":"order","style":"form","description":"Order Id.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/fab187bdb8db5"}],"schema":{"$ref":"#/components/schemas/7fd8dfebcdc3d"}},{"id":"82289182f2f32","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/7bec055c482e7"}],"schema":{"$ref":"#/components/schemas/99a3b5be6c0b2"}}],"responses":{"default":{"$ref":"#/components/schemas/397b98aea0817"}},"security":[{"$ref":"#/components/schemas/d550ad5e13810"},{"$ref":"#/components/schemas/d540ad5e126e3"}],"servers":[{"$ref":"#/components/schemas/aeb8214bddbd3"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"p0m5km4u84mla-order-detail-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_details/{id}":{"get":{"operationId":"tm1idjkf7zhsx","summary":"OrderDetail GET","description":"OrderDetail getAction","tags":[],"parameters":[{"id":"1a2ed880aefe3","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f611c3a02f4f2"}}],"responses":{"default":{"$ref":"#/components/schemas/404db50149348"}},"security":[{"$ref":"#/components/schemas/683399f8b6745"},{"$ref":"#/components/schemas/684399f8b69ba"}],"servers":[{"$ref":"#/components/schemas/6feeba257b34f"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"tm1idjkf7zhsx-order-detail-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/order_details":{"get":{"operationId":"frap6anggjo0o","summary":"OrderDetail LIST","description":"OrderDetail cgetAction","tags":[],"parameters":[{"id":"d4b7f2a5b3dab","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/915fbc2841a7c"}],"schema":{"$ref":"#/components/schemas/a9457ea12a8d8"}},{"id":"a6a153c91403a","name":"limit","style":"form","description":"Bir sayfada gelecek OrderDetail adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/a1d585492c425"}],"schema":{"$ref":"#/components/schemas/566d08afa8cff"}},{"id":"e26666372ed44","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/8ebad2d8bce59"}],"schema":{"$ref":"#/components/schemas/8eb1402d31cf2"}},{"id":"bb0023de9e9dc","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/fb5d05044f35c"}],"schema":{"$ref":"#/components/schemas/de09e75215158"}},{"id":"4093bda343671","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/0dc448a9d4dd4"}],"schema":{"$ref":"#/components/schemas/848074d8617ee"}},{"id":"976c9203ad095","name":"order","style":"form","description":"Order Id.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/db6dfa34d2694"}],"schema":{"$ref":"#/components/schemas/54dfc19ec38c9"}}],"responses":{"default":{"$ref":"#/components/schemas/3f9ffe9225930"}},"security":[{"$ref":"#/components/schemas/42c73480e2cd9"}],"servers":[{"$ref":"#/components/schemas/20e35ddc4a50a"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"frap6anggjo0o-order-detail-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"q63zf7sf8jt62","summary":"OrderDetail POST","description":"OrderDetail postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/d30b34d9ae85b"}},"requestBody":{"$ref":"#/components/schemas/f307371dcb9cb"},"security":[{"$ref":"#/components/schemas/9435a931620b8"}],"servers":[{"$ref":"#/components/schemas/877dd29adcce8"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"q63zf7sf8jt62-order-detail-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/order_details/{id}":{"put":{"operationId":"n5j95vzrip0yj","summary":"OrderDetail PUT","description":"OrderDetail putAction","tags":[],"parameters":[{"id":"cd1e3d56e3323","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7ed348d5650dc"}}],"responses":{"default":{"$ref":"#/components/schemas/d8112af1c5571"}},"requestBody":{"$ref":"#/components/schemas/2a6a68523f04a"},"security":[{"$ref":"#/components/schemas/aa9ab8e48ec9c"}],"servers":[{"$ref":"#/components/schemas/8f1f2952d7d93"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"n5j95vzrip0yj-order-detail-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"7mfeg444ba1mg","summary":"OrderDetail DELETE","description":"OrderDetail deleteAction","tags":[],"parameters":[{"id":"99876ad0b3793","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/dec9d05bfb40e"}}],"responses":{"default":{"$ref":"#/components/schemas/08b15381992f7"}},"security":[{"$ref":"#/components/schemas/be496050b3aaf"}],"servers":[{"$ref":"#/components/schemas/4de46a1276738"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"7mfeg444ba1mg-order-detail-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"8fvtx8wheb6t8","summary":"OrderDetail GET","description":"OrderDetail getAction","tags":[],"parameters":[{"id":"7c53947eee624","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2389fb3fb18cb"}}],"responses":{"default":{"$ref":"#/components/schemas/a5679eb1f68e8"}},"security":[{"$ref":"#/components/schemas/402e11f2af638"}],"servers":[{"$ref":"#/components/schemas/88ab5bc971cff"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"8fvtx8wheb6t8-order-detail-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_items":{"get":{"operationId":"bhmc41einkpf6","summary":"OrderItem LIST","description":"OrderItem cgetAction","tags":[],"parameters":[{"id":"e5d394c6cf120","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/d9cddbdea528f"}],"schema":{"$ref":"#/components/schemas/ec95996b5abde"}},{"id":"1f4a33c130d42","name":"limit","style":"form","description":"Bir sayfada gelecek OrderItem adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/bff1e9f497d3c"}],"schema":{"$ref":"#/components/schemas/6d7bded24f3db"}},{"id":"ae43f7e70c0f1","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/a1dd2dfc4a9e7"}],"schema":{"$ref":"#/components/schemas/05a987c7b326c"}},{"id":"64e33d44121ff","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/1f65883ce7d2b"}],"schema":{"$ref":"#/components/schemas/fc0e0ec6f70f4"}},{"id":"a6a11aaaf6191","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/e8809a9924dd8"}],"schema":{"$ref":"#/components/schemas/02d91e972448a"}},{"id":"bae71b7a01b63","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/ae40926d1fc77"}],"schema":{"$ref":"#/components/schemas/bb68481d5b7ab"}},{"id":"5edef0d6f664f","name":"q","style":"form","description":"OrderItem arama filtresi. Kullanımı: <code>q[&lt;geçerli-query-parametresi&gt;]</code>\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/52661d158a393"}],"schema":{"$ref":"#/components/schemas/70356e2a6f806"}},{"id":"d753af1b3f759","name":"order","style":"form","description":"Filtreleme için Order Id.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/40c04ff8b34fb"}],"schema":{"$ref":"#/components/schemas/903aadc0b7f87"}},{"id":"5ebef0d6f63f5","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/fc6f6f8f8fc10"}],"schema":{"$ref":"#/components/schemas/9516ee844a8ea"}}],"responses":{"default":{"$ref":"#/components/schemas/8cb1847e3d949"}},"security":[{"$ref":"#/components/schemas/60470395b0cae"},{"$ref":"#/components/schemas/60570395b0a1d"}],"servers":[{"$ref":"#/components/schemas/f548af6007202"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"bhmc41einkpf6-order-item-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_items/count":{"get":{"operationId":"qcf0t1rsjqjdt","summary":"OrderItem COUNT","description":"OrderItem cgetAction","tags":[],"parameters":[{"id":"9d7918cec97bf","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/8d1ae27658813"}],"schema":{"$ref":"#/components/schemas/beef6bba39ed7"}},{"id":"9b6abcf1a8044","name":"limit","style":"form","description":"Bir sayfada gelecek OrderItem adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/53d799a94c4d5"}],"schema":{"$ref":"#/components/schemas/cd11a9130f029"}},{"id":"288a953fc7a68","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/871ccec42fa97"}],"schema":{"$ref":"#/components/schemas/0bac9190fc77c"}},{"id":"17a0bad8ba546","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/5edd5f081abee"}],"schema":{"$ref":"#/components/schemas/99fdb535787ad"}},{"id":"296d7e4413ded","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/0f6e1ed7b48dd"}],"schema":{"$ref":"#/components/schemas/bad88fadaaf21"}},{"id":"1bed0f8a6afa8","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/a64d803613b9a"}],"schema":{"$ref":"#/components/schemas/382958e36a557"}},{"id":"7162483a2ee1c","name":"q","style":"form","description":"OrderItem arama filtresi. Kullanımı: <code>q[&lt;geçerli-query-parametresi&gt;]</code>\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/5b9ae1b43a76f"}],"schema":{"$ref":"#/components/schemas/8451d4f3ab0d2"}},{"id":"1d29ece29d51a","name":"order","style":"form","description":"Filtreleme için Order Id.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/9998356d0b03f"}],"schema":{"$ref":"#/components/schemas/4f7159c0829fd"}},{"id":"7142483a2e3ba","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/49318fbf0cf86"}],"schema":{"$ref":"#/components/schemas/b66a6eee2a303"}}],"responses":{"default":{"$ref":"#/components/schemas/e3ad7f0cab790"}},"security":[{"$ref":"#/components/schemas/13c52d63f968f"},{"$ref":"#/components/schemas/13b52d63f973c"}],"servers":[{"$ref":"#/components/schemas/faaee688f880a"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"qcf0t1rsjqjdt-order-item-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_items/{id}":{"get":{"operationId":"k37gnesukm1rp","summary":"OrderItem GET","description":"OrderItem getAction","tags":[],"parameters":[{"id":"e2cfe9f13514f","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1c8055a23740e"}}],"responses":{"default":{"$ref":"#/components/schemas/e8ee9e3633643"}},"security":[{"$ref":"#/components/schemas/aac544a481483"},{"$ref":"#/components/schemas/aad544a48155c"}],"servers":[{"$ref":"#/components/schemas/487a825b13dcb"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"k37gnesukm1rp-order-item-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/order_items":{"get":{"operationId":"l4utey6g8yqc4","summary":"OrderItem LIST","description":"OrderItem cgetAction","tags":[],"parameters":[{"id":"fbf21901fba15","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/7aabedd1076c2"}],"schema":{"$ref":"#/components/schemas/68adb749e3267"}},{"id":"25db60027da75","name":"limit","style":"form","description":"Bir sayfada gelecek OrderItem adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/267da6d8efffd"}],"schema":{"$ref":"#/components/schemas/604b08a6e81b0"}},{"id":"12416b213e45d","name":"page","style":"form","description":"Hangi sayfadan başlanacağı.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/37c6c8be691ff"}],"schema":{"$ref":"#/components/schemas/45a53dda22732"}},{"id":"dced4023c1f00","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir.\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/f303f81deaea9"}],"schema":{"$ref":"#/components/schemas/cad1d6d9c7f3f"}},{"id":"7c7ed14b9c284","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>\n","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/abeae211ae424"}],"schema":{"$ref":"#/components/schemas/8461488f3d950"}},{"id":"a94fbe10379f8","name":"order","style":"form","description":"Filtreleme için Order Id.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/aeb50c81ac617"}],"schema":{"$ref":"#/components/schemas/e12ff77e35249"}},{"id":"3fd8681cdc796","name":"productName","style":"form","description":"Product name.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/42572128ab33a"}},{"id":"e01c87f22d857","name":"productSku","style":"form","description":"Product sku.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/42572128ab33a"}},{"id":"51bbda368c14c","name":"productBarcode","style":"form","description":"Product barcode.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/42572128ab33a"}},{"id":"5840caf2114cb","name":"startDate","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d8f4a86a98023"}},{"id":"b5ec28b3df3b7","name":"endDate","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d8f4a86a98023"}},{"id":"1f8db19e433d2","name":"startUpdatedAt","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d8f4a86a98023"}},{"id":"5e81816217cad","name":"endUpdatedAt","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d8f4a86a98023"}}],"responses":{"default":{"$ref":"#/components/schemas/b077871588317"}},"security":[{"$ref":"#/components/schemas/26d201637b26c"}],"servers":[{"$ref":"#/components/schemas/69cae4734afa1"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"l4utey6g8yqc4-order-item-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/order_items/{id}":{"get":{"operationId":"gkpn8gaiwcygg","summary":"OrderItem GET","description":"OrderItem getAction","tags":[],"parameters":[{"id":"05c0bf746ad3f","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/28d65be15bbbd"}}],"responses":{"default":{"$ref":"#/components/schemas/1a6e814f15ed2"}},"security":[{"$ref":"#/components/schemas/6596d2b2070b6"}],"servers":[{"$ref":"#/components/schemas/8017c3659a7d2"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"gkpn8gaiwcygg-order-item-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_refund_requests":{"get":{"operationId":"tj243hk237vq8","summary":"OrderRefundRequest LIST","description":"OrderRefundRequest cgetAction","tags":[],"parameters":[{"id":"b9eab02ec8203","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/780acc9db250c"}},{"id":"1d6cdf3945d98","name":"limit","style":"form","description":"Bir sayfada gelecek Order Refund Request adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e8a75dfa7acbc"}},{"id":"fbfc27cee4cfd","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ab006fee7ab1e"}},{"id":"0ce7fa436a79b","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/09f287b16b270"}},{"id":"69fe408df05c8","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/780acc9db250c"}},{"id":"5020c07e9e2c8","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir ","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/09f287b16b270"}},{"id":"41a24c7e190cc","name":"q","style":"form","description":"Order Refund Request arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/780acc9db250c"}},{"id":"fd5b535e2c20f","name":"status","style":"form","description":"Status  alanının alabilceği değerler:  approved veya waiting_for_approval veya cancelled","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3fc4701067614"}},{"id":"738e42d622e35","name":"member","style":"form","description":"Member Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/09f287b16b270"}},{"id":"9012fdb70427a","name":"order","style":"form","description":"Order Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/09f287b16b270"}},{"id":"41824c7e18c2a","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/780acc9db250c"}}],"responses":{"default":{"$ref":"#/components/schemas/ce3fb494caf5d"}},"security":[{"$ref":"#/components/schemas/790b6dbb34b19"},{"$ref":"#/components/schemas/78fb6dbb349aa"}],"servers":[{"$ref":"#/components/schemas/3f497109c2fb6"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"tj243hk237vq8-order-refund-request-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"tfqgp8fqpq2px","summary":"OrderRefundRequest POST","description":"OrderRefundRequest postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/a5f574c9deece"}},"requestBody":{"$ref":"#/components/schemas/8188ae534998a"},"security":[{"$ref":"#/components/schemas/f41febd2daee2"},{"$ref":"#/components/schemas/f42febd2daf5d"}],"servers":[{"$ref":"#/components/schemas/bc29d373ced64"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"tfqgp8fqpq2px-order-refund-request-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_refund_requests/{id}":{"delete":{"operationId":"89r6ozxfg72sy","summary":"OrderRefundRequest DELETE","description":"OrderRefundRequest deleteAction","tags":[],"parameters":[{"id":"77f56bb0f491d","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/04f18a364384a"}}],"responses":{"default":{"$ref":"#/components/schemas/088092b48a0ae"}},"security":[{"$ref":"#/components/schemas/deb53fc32443d"},{"$ref":"#/components/schemas/dec53fc324a6e"}],"servers":[{"$ref":"#/components/schemas/bc063c6a7be7b"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"89r6ozxfg72sy-order-refund-request-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"qy4hqj4fak53d","summary":"OrderRefundRequest PUT","description":"OrderRefundRequest putAction","tags":[],"parameters":[{"id":"eb98ba5751ecd","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9fea16a634646"}}],"responses":{"default":{"$ref":"#/components/schemas/4be5e29f9fe01"}},"requestBody":{"$ref":"#/components/schemas/a309c5008cc09"},"security":[{"$ref":"#/components/schemas/25913981c8e42"},{"$ref":"#/components/schemas/25813981c8ff5"}],"servers":[{"$ref":"#/components/schemas/d8a6df00f39a6"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"qy4hqj4fak53d-order-refund-request-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"oyeavtosjq467","summary":"OrderRefundRequest GET","description":"OrderRefundRequest getAction","tags":[],"parameters":[{"id":"b215eea4181d7","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b4dbea49eaf12"}}],"responses":{"default":{"$ref":"#/components/schemas/eb364faab3812"}},"security":[{"$ref":"#/components/schemas/61b7e8c21188f"},{"$ref":"#/components/schemas/61c7e8c211ac0"}],"servers":[{"$ref":"#/components/schemas/f2defd563f621"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"oyeavtosjq467-order-refund-request-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/order_refund_requests/count":{"get":{"operationId":"51tbtdyv73olz","summary":"OrderRefundRequest COUNT","description":"OrderRefundRequest cgetAction","tags":[],"parameters":[{"id":"a71bbb8b9bdd9","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c6a548f84484a"}},{"id":"5c92be66f9617","name":"limit","style":"form","description":"Bir sayfada gelecek Order Refund Request adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/87241190e30c7"}},{"id":"680c1c0df6ec2","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b2d3530ba0c28"}},{"id":"75e28dc22a57c","name":"id","style":"form","description":"Tekli listeleme için id değeri.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d879fdbb82987"}},{"id":"cf36e0ee360ef","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c6a548f84484a"}},{"id":"08a7df40ba020","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir ","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d879fdbb82987"}},{"id":"2767534e23e7f","name":"q","style":"form","description":"Order Refund Request arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c6a548f84484a"}},{"id":"f58ea55f7e932","name":"status","style":"form","description":"Status  alanının alabilceği değerler:  approved veya waiting_for_approval veya cancelled","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/321c1db4442bb"}},{"id":"554dd511b982d","name":"member","style":"form","description":"Member Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d879fdbb82987"}},{"id":"cd24c5e1d11c0","name":"order","style":"form","description":"Order Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d879fdbb82987"}},{"id":"2747534e231e5","name":"s","style":"form","description":"Arama anahtarı ile filtreleme.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c6a548f84484a"}}],"responses":{"default":{"$ref":"#/components/schemas/a252c521b83d8"}},"security":[{"$ref":"#/components/schemas/e899e753c7180"},{"$ref":"#/components/schemas/e8a9e753c7033"}],"servers":[{"$ref":"#/components/schemas/49d40a4e89e6b"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"51tbtdyv73olz-order-refund-request-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/order_refund_requests":{"post":{"operationId":"eyho7t4wyfpbo","summary":"OrderRefundRequest POST","description":"OrderRefundRequest postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/8d335cf4ae86f"}},"requestBody":{"$ref":"#/components/schemas/f4dae393cf3ee"},"security":[{"$ref":"#/components/schemas/6e03307f8883d"}],"servers":[{"$ref":"#/components/schemas/5bc2467480fa4"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"eyho7t4wyfpbo-order-refund-request-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"fmhfnysi69ouf","summary":"OrderRefundRequest LIST","description":"OrderRefundRequest cgetAction","tags":[],"parameters":[{"id":"c7f380e8eef09","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code> azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5c5373bd2b99a"}},{"id":"819f8634986f9","name":"limit","style":"form","description":"Bir sayfada gelecek Order Refund Request adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3cfe31a5d4844"}},{"id":"02850e7eafd27","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/70dae69f7d817"}},{"id":"21cb18fb5a5d9","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir ","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d08130b4a6e07"}},{"id":"fa28843e4d6ff","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5c5373bd2b99a"}},{"id":"86d66ec63758c","name":"order","style":"form","description":"Order Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d08130b4a6e07"}},{"id":"add0a5e2779fa","name":"member","style":"form","description":"Member Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d08130b4a6e07"}},{"id":"8b2bc35f3c4a0","name":"code","style":"form","description":"Order refund request code.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5c5373bd2b99a"}},{"id":"9d554276a6dda","name":"status","style":"form","description":"Status  alanının alabilceği değerler:  approved veya waiting_for_approval veya cancelled","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ea69667295d95"}},{"id":"317b98eeb88e8","name":"startDate","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3cdfdcdb01c91"}},{"id":"a64e6bbaf185e","name":"endDate","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3cdfdcdb01c91"}},{"id":"3efeb2860b0f0","name":"startUpdatedAt","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3cdfdcdb01c91"}},{"id":"4388ace6de3d3","name":"endUpdatedAt","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3cdfdcdb01c91"}}],"responses":{"default":{"$ref":"#/components/schemas/7a6db9891e589"}},"security":[{"$ref":"#/components/schemas/e9a6811063343"}],"servers":[{"$ref":"#/components/schemas/e51ea377a08d5"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"fmhfnysi69ouf-order-refund-request-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/order_refund_requests/{id}":{"get":{"operationId":"7vvzu9da2jy3f","summary":"OrderRefundRequest GET","description":"OrderRefundRequest getAction","tags":[],"parameters":[{"id":"a191506521982","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f8b01c23f00a0"}}],"responses":{"default":{"$ref":"#/components/schemas/799e19b42ce67"}},"security":[{"$ref":"#/components/schemas/8043b4bdfc540"}],"servers":[{"$ref":"#/components/schemas/e71b9b4688e2a"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"7vvzu9da2jy3f-order-refund-request-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"2hu14kmzpcwxb","summary":"OrderRefundRequest PUT","description":"OrderRefundRequest putAction","tags":[],"parameters":[{"id":"6147b53b07cf5","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/59db9b8b297a4"}}],"responses":{"default":{"$ref":"#/components/schemas/34357d855f488"}},"requestBody":{"$ref":"#/components/schemas/a82cd352425ec"},"security":[{"$ref":"#/components/schemas/f7f45a2a94ed8"}],"servers":[{"$ref":"#/components/schemas/30fc5fb15c5a7"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"2hu14kmzpcwxb-order-refund-request-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"zkrsr3vrofkvt","summary":"OrderRefundRequest DELETE","description":"OrderRefundRequest deleteAction","tags":[],"parameters":[{"id":"ab35104ae40a2","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e74079ff60e3d"}}],"responses":{"default":{"$ref":"#/components/schemas/e513753e5ffc5"}},"security":[{"$ref":"#/components/schemas/c03bb1e2c9f55"}],"servers":[{"$ref":"#/components/schemas/22752f32bc63c"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"zkrsr3vrofkvt-order-refund-request-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/order_refund_request_items/{id}":{"put":{"operationId":"i8jj8fvzboh1c","summary":"OrderRefundRequestItem PUT","description":"Mevcut bir <code>OrderRefundRequestItem</code> nesnesini günceller.","tags":[],"parameters":[{"id":"6d6b773447d15","name":"id","style":"simple","description":"Güncellenecek sipariş iptal talebi kaleminin <code>id</code> değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b31f84fdbefc9"}}],"responses":{"default":{"$ref":"#/components/schemas/40e0554dec389"}},"requestBody":{"$ref":"#/components/schemas/2072ccebac9db"},"security":[{"$ref":"#/components/schemas/86ae2f5b6aace"}],"servers":[{"$ref":"#/components/schemas/c9c38424776a3"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"i8jj8fvzboh1c-order-refund-request-item-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"xjuz87lip15i0","summary":"OrderRefundRequestItem GET","description":"Belirtilen <code>id</code> değerine ait sipariş iptal talebi kalemi detayını döner.","tags":[],"parameters":[{"id":"dfdeaa1f6cec7","name":"id","style":"simple","description":"Görüntülenecek sipariş iptal talebi kaleminin <code>id</code> değeri.","required":true,"explicitProperties":["name","in","description","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/44c3a1ee7f1cf"}}],"responses":{"default":{"$ref":"#/components/schemas/a5c52a5c34088"}},"security":[{"$ref":"#/components/schemas/c751328ffd517"}],"servers":[{"$ref":"#/components/schemas/7351e3588321b"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"xjuz87lip15i0-order-refund-request-item-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"i5efbafzzq9a3","summary":"OrderRefundRequestItem DELETE","description":"Belirtilen <code>id</code> değerine sahip sipariş iptal talebi kalemini siler.","tags":[],"parameters":[{"id":"60b62c0aaba94","name":"id","style":"simple","description":"Silinecek sipariş iptal talebi kaleminin <code>id</code> değeri.","r
[...]
