{"openapi":"3.0.0","info":{"title":"Ideasoft Commerce — products","version":"3.2.0","x-commerce-group":"products","description":"AI-friendly commerce grouping: products"},"servers":[{"url":"https://magaza-adiniz.myideasoft.com"}],"paths":{"/admin-api/products/{id}":{"get":{"operationId":"cgov84whtjhzn","summary":"Product GET","description":"Product getAction","tags":[],"parameters":[{"id":"92a7b1549882b","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4655e0ca052f7"}}],"responses":{"default":{"$ref":"#/components/schemas/8e155e90a7506"}},"security":[{"$ref":"#/components/schemas/327d879c0dd04"},{"$ref":"#/components/schemas/328d879c0e3cb"}],"servers":[{"$ref":"#/components/schemas/d7e62cc34403c"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"cgov84whtjhzn-product-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"p7r7yfxlfjma9","summary":"Product PUT","description":"Product putAction","tags":[],"parameters":[{"id":"adc80292a6cbd","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/bd0a8edffc0b9"}}],"responses":{"default":{"$ref":"#/components/schemas/467bcf7b49672"}},"requestBody":{"$ref":"#/components/schemas/d493d096e4fa8"},"security":[{"$ref":"#/components/schemas/3a680cd55197a"},{"$ref":"#/components/schemas/3a780cd55170d"}],"servers":[{"$ref":"#/components/schemas/0c63ca770dac3"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"p7r7yfxlfjma9-product-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"0nw64az7co85y","summary":"Product DELETE","description":"Product deleteAction","tags":[],"parameters":[{"id":"4890795bcbf76","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f7757dc2f810d"}}],"responses":{"default":{"$ref":"#/components/schemas/89b9c9acf360c"}},"security":[{"$ref":"#/components/schemas/9f4ab02fe4164"},{"$ref":"#/components/schemas/9f3ab02fe4093"}],"servers":[{"$ref":"#/components/schemas/e3d8e872cb15d"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"0nw64az7co85y-product-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/products":{"get":{"operationId":"6hvi6as48mv56","summary":"Product LIST","description":"Product cgetAction","tags":[],"parameters":[{"id":"c09aedd271051","name":"sort","style":"form","description":"Sıralama değeri. Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"b26d63d47dbb5","name":"limit","style":"form","description":"Bir sayfada dönecek Products adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1d3602caed4e8"}},{"id":"5bacb8f18c1cc","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/57a226898f1eb"}},{"id":"dd9f35f43d70f","name":"id","style":"form","description":"Tekli ürün listeleme için Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"fcd8ae04560cf","name":"ids","style":"form","description":"Çoklu ürün listeleme için virgülle ayrılmış Product Id değerleri <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"c0711aac06b1c","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"dc308f97f2cbb","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"fb3212105fbf3","name":"brand","style":"form","description":"Brand Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/018b91bfa0148"}},{"id":"56a323c26b053","name":"category","style":"form","description":"Product category filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/018b91bfa0148"}},{"id":"411e57e4fc3fb","name":"categoryIds","style":"form","description":"Çoklu category Id için virgülle ayrılmış değerler","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"81efffd1f1c39","name":"midblock","style":"form","description":"Product midblock filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"fd0d22baafe34","name":"selfDistributor","style":"form","description":"Product self distributor filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"8eccab3d7634a","name":"distributor","style":"form","description":"Search key filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"b9cd000ae879e","name":"specialty","style":"form","description":"Product specialty filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"523d18b5921a0","name":"hasOption","style":"form","description":"Product hasOption filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"a289698969068","name":"status","style":"form","description":"Product status filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e2b49149bf0a5"}},{"id":"f63473febd001","name":"specValue","style":"form","description":"Product spec value filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"dcaaa62cf2be8","name":"specName","style":"form","description":"Product spec name filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"50fa63d3782fa","name":"specGroup","style":"form","description":"Product spec group filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"7207acee969c8","name":"startCreatedAt","style":"form","description":"createdAt başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aee94c312ca2f"}},{"id":"d0f7746005c2f","name":"endCreatedAt","style":"form","description":"createdAt bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aee94c312ca2f"}},{"id":"9f24f1ddf6e38","name":"startUpdatedAt","style":"form","description":"updatedAt başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/86f8dc799a7f0"}},{"id":"79fd04ee14782","name":"endUpdatedAt","style":"form","description":"updatedAt bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aee94c312ca2f"}},{"id":"02f99b1968561","name":"startCountDownDate","style":"form","description":"Zaman aralığı başlangıcı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aee94c312ca2f"}},{"id":"5a2dc2fa03760","name":"endCountDownDate","style":"form","description":"Zaman aralığı bitişi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/aee94c312ca2f"}},{"id":"08562121efe82","name":"filterCurrency","style":"form","description":"Currency filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}},{"id":"5a299bb82dca9","name":"buttonType","style":"form","description":"Product button type filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4a59cb6fa32e3"}},{"id":"3ecbc2d56a7d6","name":"minPrice","style":"form","description":"Product minimum fiyat filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"97169f0efdb21","name":"maxPrice","style":"form","description":"Product maksimum fiyat filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"53e4979f2fc2d","name":"criticalStock","style":"form","description":"Product critical stock filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e2b49149bf0a5"}},{"id":"c4777ca2479c0","name":"stockAmount","style":"form","description":"Product stock amount filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5550fdb2daffd"}},{"id":"0da48df02d266","name":"stockExpr","style":"form","description":"Product stock expr filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/f23273bf9ab40"}},{"id":"0bec4f6293749","name":"digitalProduct","style":"form","description":"Dijital product filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e2b49149bf0a5"}},{"id":"c1a5d30f9c161","name":"currency","style":"form","description":"Product currency abbr filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"a9e9832738d2b","name":"currencyExpr","style":"form","description":"Product currency abbr condition filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3dc63e47e49bf"}},{"id":"2fce904ed7ccc","name":"q","style":"form","description":"Product arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"2fae904ed706a","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c742cfad533b2"}},{"id":"64ea482f3d771","name":"collection","style":"form","description":"Product collection search filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3c85e1c1f5790"}}],"responses":{"default":{"$ref":"#/components/schemas/ff89b7061ca23"}},"security":[{"$ref":"#/components/schemas/c4a2571a7faa7"},{"$ref":"#/components/schemas/c492571a7fb14"}],"servers":[{"$ref":"#/components/schemas/574d283f4fac4"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"6hvi6as48mv56-product-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"8pzfiy7v4vow9","summary":"Product POST","description":"Product postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/690a6e909cdcd"}},"requestBody":{"$ref":"#/components/schemas/a7709d444e6e5"},"security":[{"$ref":"#/components/schemas/98d522999e1ae"},{"$ref":"#/components/schemas/98e522999fe61"}],"servers":[{"$ref":"#/components/schemas/96f7e2b046d5c"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"8pzfiy7v4vow9-product-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/products/showcase_sort_order_update":{"put":{"operationId":"6tayackmcbyik","summary":"Product ShowcaseSortOrderUpdateAction PUT","description":"Product showcaseSortOrderUpdateAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/a19457b33375a"}},"security":[{"$ref":"#/components/schemas/d8db196ab10be"},{"$ref":"#/components/schemas/d8eb196ab126d"}],"servers":[{"$ref":"#/components/schemas/0b366b961d626"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"6tayackmcbyik-product-showcase-sort-order-update-action-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/products/{id}/change_category":{"put":{"operationId":"zlywejrq617xq","summary":"Product ChangeCategoryAction PUT","description":"Product changeCategoryAction","tags":[],"parameters":[{"id":"d609afa00e9e3","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d1c65a36940c5"}}],"responses":{"default":{"$ref":"#/components/schemas/9bcf37855eaf4"}},"security":[{"$ref":"#/components/schemas/4a49d12308f73"},{"$ref":"#/components/schemas/4a39d1230893c"}],"servers":[{"$ref":"#/components/schemas/27b5e62b81f02"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"zlywejrq617xq-product-change-category-action-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/products/count":{"get":{"operationId":"a9wqfipo058qe","summary":"Product COUNT","description":"Product cgetAction","tags":[],"parameters":[{"id":"d10da8371d8c3","name":"sort","style":"form","description":"Sıralama değeri. Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"4fb005f9596be","name":"limit","style":"form","description":"Bir sayfada dönecek Products adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/932cf27fea7ae"}},{"id":"975d48d64afae","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3f09599887414"}},{"id":"a27c1494ec69d","name":"id","style":"form","description":"Tekli ürün listeleme için Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"a446f90df09ce","name":"ids","style":"form","description":"Çoklu ürün listeleme için virgülle ayrılmış Product Id değerleri <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"d7e5ec2685ca7","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"3e8c90305bbd3","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"e37b1fd3d0998","name":"brand","style":"form","description":"Brand Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/59142f88a3cca"}},{"id":"8774a98bb908f","name":"category","style":"form","description":"Product category filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/59142f88a3cca"}},{"id":"1b8f64712ebef","name":"categoryIds","style":"form","description":"Çoklu category Id için virgülle ayrılmış değerler","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"0f8f16cc65c79","name":"midblock","style":"form","description":"Product midblock filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"3cf92571bd0bf","name":"selfDistributor","style":"form","description":"Product self distributor filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"418a631e874cc","name":"distributor","style":"form","description":"Search key filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"b6e779392a37e","name":"specialty","style":"form","description":"Product specialty filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"06a5d5fb5e2e2","name":"hasOption","style":"form","description":"Product hasOption filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"557aed17f17e0","name":"status","style":"form","description":"Product status filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d03031a1e1bad"}},{"id":"d34dddb2fcf6e","name":"specValue","style":"form","description":"Product spec value filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"fb8b79d8a1a92","name":"specName","style":"form","description":"Product spec name filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"b1730d11e5b8b","name":"specGroup","style":"form","description":"Product spec group filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"5253c1e17adec","name":"startCreatedAt","style":"form","description":"createdAt başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6cdaffd0cdab8"}},{"id":"b9aa4bbceafe3","name":"endCreatedAt","style":"form","description":"createdAt bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6cdaffd0cdab8"}},{"id":"4ec7f24dfa2d2","name":"startUpdatedAt","style":"form","description":"updatedAt başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/a84a1257becb0"}},{"id":"c74b73a70c194","name":"endUpdatedAt","style":"form","description":"updatedAt bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6cdaffd0cdab8"}},{"id":"2716af3586b3b","name":"startCountDownDate","style":"form","description":"Zaman aralığı başlangıcı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6cdaffd0cdab8"}},{"id":"8459de36d3ba9","name":"endCountDownDate","style":"form","description":"Zaman aralığı bitişi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6cdaffd0cdab8"}},{"id":"a1794bed78799","name":"filterCurrency","style":"form","description":"Currency filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}},{"id":"febbbcb33a48b","name":"buttonType","style":"form","description":"Product button type filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/030b07a8bfac3"}},{"id":"f31d778e22ccc","name":"minPrice","style":"form","description":"Product minimum fiyat filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"3bf0ad2c68a87","name":"maxPrice","style":"form","description":"Product maksimum fiyat filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"ef163ae7cedaf","name":"criticalStock","style":"form","description":"Product critical stock filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d03031a1e1bad"}},{"id":"4dcde58aa60f7","name":"stockAmount","style":"form","description":"Product stock amount filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e94d451271e66"}},{"id":"73cfd1c05c0a8","name":"stockExpr","style":"form","description":"Product stock expr filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fd6a36698c6fc"}},{"id":"24dc5c5d8f92d","name":"digitalProduct","style":"form","description":"Dijital product filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d03031a1e1bad"}},{"id":"efd1ef79c7a21","name":"currency","style":"form","description":"Product currency abbr filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"945cd1d9ca710","name":"currencyExpr","style":"form","description":"Product currency abbr condition filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/876db3e869909"}},{"id":"94917fc0c65a6","name":"q","style":"form","description":"Product arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"94b17fc0c60c0","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/9342e989884d7"}},{"id":"0a33246edbbc3","name":"collection","style":"form","description":"Product collection search filter.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/beb88df233e43"}}],"responses":{"default":{"$ref":"#/components/schemas/6d36e7d1966e0"}},"security":[{"$ref":"#/components/schemas/62cfd9d5e2caa"},{"$ref":"#/components/schemas/62bfd9d5e2f15"}],"servers":[{"$ref":"#/components/schemas/064240f50769b"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"a9wqfipo058qe-product-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/products/integration_distributors":{"get":{"operationId":"3puuak2548mv8","summary":"Product GetUsedIntegrationDistributors GET","description":"Product getUsedIntegrationDistributors","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/cf25717528c25"}},"security":[{"$ref":"#/components/schemas/468a4a7dcd0cf"},{"$ref":"#/components/schemas/467a4a7dcd280"}],"servers":[{"$ref":"#/components/schemas/c6d2d9e912861"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"3puuak2548mv8-product-get-used-integration-distributors-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/products":{"post":{"operationId":"fkka5na1oar59","summary":"Product POST","description":"Product postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/0e024cc09d6c6"}},"requestBody":{"$ref":"#/components/schemas/d8760defb86b9"},"security":[{"$ref":"#/components/schemas/fc87aca8e3aa8"}],"servers":[{"$ref":"#/components/schemas/0c70cc5137a73"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"fkka5na1oar59-product-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"qsr9fu2u1lrlh","summary":"Product LIST","description":"Product cgetAction","tags":[],"parameters":[{"id":"50354f9f8a73d","name":"sort","style":"form","description":"Sıralama değeri. Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"aceab97b84978","name":"limit","style":"form","description":"Bir sayfada dönecek Products adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/db94d51683afc"}},{"id":"436380f0b9c77","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/39c6ff128954e"}},{"id":"b7184ba20865b","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8c7f5f2895a09"}},{"id":"686c69b206941","name":"ids","style":"form","description":"Çoklu ürün listeleme için virgülle ayrılmış Product Id değerleri <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"c5ad562eb6070","name":"parent","style":"form","description":"Parent Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"30b936e006d2f","name":"brand","style":"form","description":"Brand Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"1bec71c318cf2","name":"sku","style":"form","description":"Product sku.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"879a339ec5677","name":"name","style":"form","description":"Product name.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"075ce844ab786","name":"distributor","style":"form","description":"Product distributor.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"023875e4c2828","name":"stockAmount","style":"form","description":"Product stock amount filtresi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"d3bb5a25c28a3","name":"q","style":"form","description":"Product arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"a006195ac86aa","name":"startDate","style":"form","description":"Start of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"3790218957f17","name":"endDate","style":"form","description":"End of the time frame","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"80c89f3820d22","name":"startUpdatedAt","style":"form","description":"updatedAt başlangıç tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}},{"id":"382bf0f73c491","name":"endUpdatedAt","style":"form","description":"updatedAt bitiş tarihi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4ef3167a9958b"}}],"responses":{"default":{"$ref":"#/components/schemas/9f7b3c10cba3b"}},"security":[{"$ref":"#/components/schemas/c07fb8e9d3faf"}],"servers":[{"$ref":"#/components/schemas/92e807eb4d476"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"qsr9fu2u1lrlh-product-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/products/{id}":{"get":{"operationId":"p0r4e04klu229","summary":"Product GET","description":"Product getAction","tags":[],"parameters":[{"id":"4e7bdcf83cd6c","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d68daab66852f"}}],"responses":{"default":{"$ref":"#/components/schemas/44fbf68c79871"}},"security":[{"$ref":"#/components/schemas/be7ceb514179f"}],"servers":[{"$ref":"#/components/schemas/437b4fa24410c"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"p0r4e04klu229-product-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"vyvlvovhvs74f","summary":"Product PUT","description":"Product putAction","tags":[],"parameters":[{"id":"092e3a1f9046e","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/5319743e2ad0e"}}],"responses":{"default":{"$ref":"#/components/schemas/5fd6ba589f02e"}},"requestBody":{"$ref":"#/components/schemas/b83307b16494e"},"security":[{"$ref":"#/components/schemas/d9340feee3835"}],"servers":[{"$ref":"#/components/schemas/a341df2953e83"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"vyvlvovhvs74f-product-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"bp8fw32ca5opb","summary":"Product DELETE","description":"Product deleteAction","tags":[],"parameters":[{"id":"a1ca4878b7753","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/91a4ea51e2109"}}],"responses":{"default":{"$ref":"#/components/schemas/85311f3652d64"}},"security":[{"$ref":"#/components/schemas/45bb5cccf56bb"}],"servers":[{"$ref":"#/components/schemas/607335d8dddd2"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"bp8fw32ca5opb-product-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_details/{id}":{"put":{"operationId":"7iyppqx3l5sr8","summary":"ProductDetail PUT","description":"ProductDetail putAction","tags":[],"parameters":[{"id":"aa872d8541e16","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/695e7241ace7b"}}],"responses":{"default":{"$ref":"#/components/schemas/dbac3dee31a59"}},"requestBody":{"$ref":"#/components/schemas/efc55d8102ede"},"security":[{"$ref":"#/components/schemas/baced8f0ad659"},{"$ref":"#/components/schemas/babed8f0ad78a"}],"servers":[{"$ref":"#/components/schemas/8a189e0f31768"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"7iyppqx3l5sr8-product-detail-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"qvpphp91l364t","summary":"ProductDetail GET","description":"ProductDetail getAction","tags":[],"parameters":[{"id":"165b6e8c99adc","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/608b82a232339"}}],"responses":{"default":{"$ref":"#/components/schemas/025f97ad724c5"}},"security":[{"$ref":"#/components/schemas/8342f029535a6"},{"$ref":"#/components/schemas/8352f02953779"}],"servers":[{"$ref":"#/components/schemas/e09c920fa1169"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"qvpphp91l364t-product-detail-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"4ceenf1be7r86","summary":"ProductDetail DELETE","description":"ProductDetail deleteAction","tags":[],"parameters":[{"id":"ae1b7b7c13545","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/61d0142a53425"}}],"responses":{"default":{"$ref":"#/components/schemas/332f112cac99a"}},"security":[{"$ref":"#/components/schemas/f16c3ee28639f"},{"$ref":"#/components/schemas/f17c3ee286dcc"}],"servers":[{"$ref":"#/components/schemas/f931427147fbe"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"4ceenf1be7r86-product-detail-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_details":{"get":{"operationId":"mz5h924kc28zs","summary":"ProductDetail LIST","description":"ProductDetail cgetAction","tags":[],"parameters":[{"id":"a66e640dd7037","name":"sort","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/680dd64f958ae"}},{"id":"cff60178f5261","name":"limit","style":"form","description":"Bir sayfada gelecek Product Details adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/48bf5457727ab"}},{"id":"6e5ebfb39a320","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/942e6ade1e230"}},{"id":"ffb6d720d68f8","name":"product","style":"form","description":"Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e0c75b5f7e116"}},{"id":"78dd5f6cf2ca4","name":"id","style":"form","description":"Tekli listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e0c75b5f7e116"}},{"id":"78e9261f60f84","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/680dd64f958ae"}},{"id":"3d846d3d4b4a1","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e0c75b5f7e116"}},{"id":"f9765205894de","name":"q","style":"form","description":"ProductDetail arama filtresi. Kullanımı q[<geçerli-query-parametresi>]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/680dd64f958ae"}},{"id":"f956520589874","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/680dd64f958ae"}}],"responses":{"default":{"$ref":"#/components/schemas/dc9cba8c12e24"}},"security":[{"$ref":"#/components/schemas/453f432b6ae22"},{"$ref":"#/components/schemas/454f432b6ac71"}],"servers":[{"$ref":"#/components/schemas/2ae87d6e90cf4"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"mz5h924kc28zs-product-detail-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"f3inxo5i3klbr","summary":"ProductDetail POST","description":"ProductDetail postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/97da85a75ddbe"}},"requestBody":{"$ref":"#/components/schemas/5717af04c75ff"},"security":[{"$ref":"#/components/schemas/8d15c940bd691"},{"$ref":"#/components/schemas/8d05c940bd0e2"}],"servers":[{"$ref":"#/components/schemas/c41bb0d0061f7"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"f3inxo5i3klbr-product-detail-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_details/count":{"get":{"operationId":"qwo2lp1twq85a","summary":"ProductDetail COUNT","description":"ProductDetail cgetAction","tags":[],"parameters":[{"id":"05cf2b7c073e1","name":"sort","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4088731572f0e"}},{"id":"f818f3f456085","name":"limit","style":"form","description":"Bir sayfada gelecek Product Details adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/14ae4c24d8bae"}},{"id":"1e7dadb4274a6","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/52318393b99c1"}},{"id":"8c05956fff8d9","name":"product","style":"form","description":"Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2aa954b9d9dfd"}},{"id":"13ffff3669137","name":"id","style":"form","description":"Tekli listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2aa954b9d9dfd"}},{"id":"bb9ea975b0eab","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4088731572f0e"}},{"id":"60238b4bf019d","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2aa954b9d9dfd"}},{"id":"0751fc77981b6","name":"q","style":"form","description":"ProductDetail arama filtresi. Kullanımı q[<geçerli-query-parametresi>]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4088731572f0e"}},{"id":"0771fc7798c4c","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4088731572f0e"}}],"responses":{"default":{"$ref":"#/components/schemas/d490988e508e1"}},"security":[{"$ref":"#/components/schemas/d4ea31593168a"},{"$ref":"#/components/schemas/d4fa315931055"}],"servers":[{"$ref":"#/components/schemas/ec96a3eb68a04"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"qwo2lp1twq85a-product-detail-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/product_details":{"get":{"operationId":"zh8houf9y88xr","summary":"ProductDetail LIST","description":"ProductDetail cgetAction","tags":[],"parameters":[{"id":"af873899ec2c9","name":"sort","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e85c54f6f26a3"}},{"id":"aede70998d006","name":"limit","style":"form","description":"Bir sayfada gelecek Product Details adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b26b9b8cb9f9e"}},{"id":"a5f79bb458f33","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/961ff08c85b3f"}},{"id":"1186c8b85ce4f","name":"sinceId","style":"form","description":"Yalnızca belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1538022ca8694"}},{"id":"a777c584eeff0","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e85c54f6f26a3"}},{"id":"f4f7bda1c9495","name":"sku","style":"form","description":"Product Sku","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e85c54f6f26a3"}},{"id":"c862d23be3985","name":"product","style":"form","description":"Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/1538022ca8694"}}],"responses":{"default":{"$ref":"#/components/schemas/d56c9e0a1c923"}},"security":[{"$ref":"#/components/schemas/c46175b8ca03c"}],"servers":[{"$ref":"#/components/schemas/150ffed6ec2ba"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"zh8houf9y88xr-product-detail-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"y1ozwjgvqmiz1","summary":"ProductDetail POST","description":"ProductDetail postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/c8cb571a6e994"}},"requestBody":{"$ref":"#/components/schemas/069a207e39353"},"security":[{"$ref":"#/components/schemas/6d1162e59cf57"}],"servers":[{"$ref":"#/components/schemas/74490165cc90d"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"y1ozwjgvqmiz1-product-detail-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/product_details/{id}":{"put":{"operationId":"6bgladzzfgvmj","summary":"ProductDetail PUT","description":"ProductDetail putAction","tags":[],"parameters":[{"id":"8e44605d429d4","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/756c54af9051c"}}],"responses":{"default":{"$ref":"#/components/schemas/c369139826025"}},"requestBody":{"$ref":"#/components/schemas/1ab6537885526"},"security":[{"$ref":"#/components/schemas/44d476f7fb93d"}],"servers":[{"$ref":"#/components/schemas/190dcf267a687"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"6bgladzzfgvmj-product-detail-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"a7bkz3nkwh2zt","summary":"ProductDetail DELETE","description":"ProductDetail deleteAction","tags":[],"parameters":[{"id":"318e978048f47","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/59fd7ec938755"}}],"responses":{"default":{"$ref":"#/components/schemas/58ce5868fd571"}},"security":[{"$ref":"#/components/schemas/edccd8915c9a6"}],"servers":[{"$ref":"#/components/schemas/fd7d6c4cb21f3"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"a7bkz3nkwh2zt-product-detail-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"9n27416hmn973","summary":"ProductDetail GET","description":"ProductDetail getAction","tags":[],"parameters":[{"id":"a91b154e6cb89","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/815e113a3d31d"}}],"responses":{"default":{"$ref":"#/components/schemas/cfc83772885d0"}},"security":[{"$ref":"#/components/schemas/7ee6e65137cfd"}],"servers":[{"$ref":"#/components/schemas/4c32506bd8229"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"9n27416hmn973-product-detail-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_images":{"post":{"operationId":"inlc9my8n2i5c","summary":"ProductImage POST","description":"ProductImage postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/b116b15882797"}},"requestBody":{"$ref":"#/components/schemas/a58f959eee067"},"security":[{"$ref":"#/components/schemas/73a83f627796c"},{"$ref":"#/components/schemas/73b83f6277fbf"}],"servers":[{"$ref":"#/components/schemas/8883d5fb950cb"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"inlc9my8n2i5c-product-image-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"mn7plewrf9155","summary":"ProductImage LIST","description":"ProductImage cgetAction","tags":[],"parameters":[{"id":"6749000300265","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ee1740eb2d822"}},{"id":"0854ce648abf6","name":"limit","style":"form","description":"Bir sayfada gelecek ProductImages adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fb3f5881f0595"}},{"id":"cfb9b1a30c49d","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/78f2ff2808877"}},{"id":"ce51765b7b0ec","name":"id","style":"form","description":"Tekli listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/508b9ae4724b4"}},{"id":"2aec1d7300037","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ee1740eb2d822"}},{"id":"28f2ffae7c387","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/508b9ae4724b4"}},{"id":"5c934dcfac556","name":"product","style":"form","description":"Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/508b9ae4724b4"}},{"id":"766b422f4be32","name":"q","style":"form","description":"ProductImage arama filtresi. Kullanımı: <code>q[&lt;geçerli-query-parametresi&gt;]</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ee1740eb2d822"}},{"id":"764b422f4bac8","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ee1740eb2d822"}}],"responses":{"default":{"$ref":"#/components/schemas/f3f06d83ed065"}},"security":[{"$ref":"#/components/schemas/5e9a4918d1c4f"},{"$ref":"#/components/schemas/5eaa4918d121c"}],"servers":[{"$ref":"#/components/schemas/a3fb1f1d891a6"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"mn7plewrf9155-product-image-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_images/count":{"get":{"operationId":"86wm96yq9w3v7","summary":"ProductImage COUNT","description":"ProductImage cgetAction","tags":[],"parameters":[{"id":"9fcc991bac288","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8658dfcaf7742"}},{"id":"26c4306b2f0b5","name":"limit","style":"form","description":"Bir sayfada gelecek ProductImages adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/ab56b4f80c64b"}},{"id":"fcde15927b43d","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/d22de4a762f8f"}},{"id":"172ba61c79366","name":"id","style":"form","description":"Tekli listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/000f0d23953a9"}},{"id":"237b4262e88ae","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8658dfcaf7742"}},{"id":"c32d6434d7cf6","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/000f0d23953a9"}},{"id":"bcb14173ed07e","name":"product","style":"form","description":"Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/000f0d23953a9"}},{"id":"4f2692eb76115","name":"q","style":"form","description":"ProductImage arama filtresi. Kullanımı: <code>q[&lt;geçerli-query-parametresi&gt;]</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8658dfcaf7742"}},{"id":"4f0692eb76673","name":"s","style":"form","description":"Arama anahtarı ile filtreleme","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8658dfcaf7742"}}],"responses":{"default":{"$ref":"#/components/schemas/ff19b044af4e6"}},"security":[{"$ref":"#/components/schemas/fa7ef5c4250f3"},{"$ref":"#/components/schemas/fa6ef5c425220"}],"servers":[{"$ref":"#/components/schemas/1426860e4bb78"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"86wm96yq9w3v7-product-image-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_images/{id}":{"get":{"operationId":"cmquh3ojvrnw9","summary":"ProductImage GET","description":"ProductImage getAction","tags":[],"parameters":[{"id":"32c0734795c31","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/56ba18a3819ae"}}],"responses":{"default":{"$ref":"#/components/schemas/f2cea5d68531d"}},"security":[{"$ref":"#/components/schemas/a5d293a8adab3"},{"$ref":"#/components/schemas/a5e293a8ad8c0"}],"servers":[{"$ref":"#/components/schemas/9ecd39e31d3d6"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"cmquh3ojvrnw9-product-image-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"sfymi0haghj0p","summary":"ProductImage DELETE","description":"ProductImage deleteAction","tags":[],"parameters":[{"id":"ff0844e7e86c4","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e85bd9ffc962b"}}],"responses":{"default":{"$ref":"#/components/schemas/2ffcc32e048cb"}},"security":[{"$ref":"#/components/schemas/dfef23737ced2"},{"$ref":"#/components/schemas/dfff23737cca1"}],"servers":[{"$ref":"#/components/schemas/2756b5e776463"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"sfymi0haghj0p-product-image-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/product_images":{"get":{"operationId":"825hnkd209i8n","summary":"ProductImage LIST","description":"ProductImage cgetAction","tags":[],"parameters":[{"id":"23d70f7e8e7e1","name":"sort","style":"form","description":"Sıralama değeri. Örnek: Artan sıra için <code>sort=id</code>, azalan sıra için <code>sort=-id</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6d26ef07f8b0d"}},{"id":"08c3c16ee315b","name":"limit","style":"form","description":"Bir sayfada gelecek ProductImages adedi","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/34651c2b4646b"}},{"id":"170540cfbdfa3","name":"page","style":"form","description":"Hangi sayfadan başlanacağı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/4accb1a7b4bb7"}},{"id":"6ece1d9209379","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2b80b3b7d5f00"}},{"id":"55ee41879322f","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış id değerleri. <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6d26ef07f8b0d"}},{"id":"cc68b9f840fd5","name":"fileName","style":"form","description":"Product Image File Name.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6d26ef07f8b0d"}},{"id":"03b6f12bade3e","name":"product","style":"form","description":"Product Id","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2b80b3b7d5f00"}}],"responses":{"default":{"$ref":"#/components/schemas/fcf476123c53d"}},"security":[{"$ref":"#/components/schemas/64fc4d7832e13"}],"servers":[{"$ref":"#/components/schemas/aec87eab70780"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"825hnkd209i8n-product-image-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"wzp0upfli7l8l","summary":"ProductImage POST","description":"ProductImage postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/bf122555bac7e"}},"requestBody":{"$ref":"#/components/schemas/b47e0746a8d16"},"security":[{"$ref":"#/components/schemas/ec6661a5343af"}],"servers":[{"$ref":"#/components/schemas/5ca5bbc57a846"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"wzp0upfli7l8l-product-image-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/product_images/{id}":{"get":{"operationId":"740kh0w7mtjvm","summary":"ProductImage GET","description":"ProductImage getAction","tags":[],"parameters":[{"id":"6bb6c376f5f0e","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/512abd77c5a8a"}}],"responses":{"default":{"$ref":"#/components/schemas/b82556d75fa69"}},"security":[{"$ref":"#/components/schemas/0e9f021cadd8a"}],"servers":[{"$ref":"#/components/schemas/d3fe48c5810ef"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"740kh0w7mtjvm-product-image-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"krmqgwh4dbh1w","summary":"ProductImage DELETE","description":"ProductImage deleteAction","tags":[],"parameters":[{"id":"7fdd00d71049b","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e3e4927256310"}}],"responses":{"default":{"$ref":"#/components/schemas/bbcecbb9d4e36"}},"security":[{"$ref":"#/components/schemas/dc31002a29630"}],"servers":[{"$ref":"#/components/schemas/6b029fb5faa15"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"krmqgwh4dbh1w-product-image-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_prices":{"get":{"operationId":"chzqkmfvjgl07","summary":"ProductPrice LIST","description":"ProductPrice cgetAction","tags":[],"parameters":[{"id":"a50e4652d8523","name":"sort","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0c846fe220486"}},{"id":"801b4f84aa56d","name":"limit","style":"form","description":"Bir sayfada görüntülenecek ProductPrice sayısı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/57c1b1cd58648"}},{"id":"e83cc5f5bf500","name":"page","style":"form","description":"Başlanacak sayfa numarası","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7ec87ed7e9b29"}},{"id":"5dc3204adb914","name":"product","style":"form","description":"Ürüne ait Product Id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2573073a2f9c3"}},{"id":"441ba3af67164","name":"id","style":"form","description":"Tekli ProductPrice listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2573073a2f9c3"}},{"id":"b157230da738c","name":"ids","style":"form","description":"Çoklu ProductPrice listeleme için virgülle ayrılmış id değerleri <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0c846fe220486"}},{"id":"352658db8ef8f","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2573073a2f9c3"}},{"id":"9faac45947a5b","name":"q","style":"form","description":"ProductPrice arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/0c846fe220486"}}],"responses":{"default":{"$ref":"#/components/schemas/171dfe49598af"}},"security":[{"$ref":"#/components/schemas/e1e2add1680f2"},{"$ref":"#/components/schemas/e1f2add168145"}],"servers":[{"$ref":"#/components/schemas/44860166ed1ae"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"chzqkmfvjgl07-product-price-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"post":{"operationId":"tdzuk0h539gnf","summary":"ProductPrice POST","description":"ProductPrice postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/bc185c3ed8fb9"}},"requestBody":{"$ref":"#/components/schemas/da144ce38d67c"},"security":[{"$ref":"#/components/schemas/32edc61fa45c5"},{"$ref":"#/components/schemas/32fdc61fa4b8a"}],"servers":[{"$ref":"#/components/schemas/dcb4536a95e5b"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"tdzuk0h539gnf-product-price-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_prices/count":{"get":{"operationId":"ey5ylmtefbon7","summary":"ProductPrice COUNT","description":"ProductPrice cgetAction","tags":[],"parameters":[{"id":"b5d2eb64c40b1","name":"sort","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c8a3f4d186506"}},{"id":"5130c6dda7ca8","name":"limit","style":"form","description":"Bir sayfada görüntülenecek ProductPrice sayısı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/17c015ab19ac2"}},{"id":"1b011c8d91382","name":"page","style":"form","description":"Başlanacak sayfa numarası","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3b4ef74bfa9a4"}},{"id":"34433fc89950b","name":"product","style":"form","description":"Ürüne ait Product Id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7f7883dfc24b6"}},{"id":"69124430d442c","name":"id","style":"form","description":"Tekli ProductPrice listeleme için id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7f7883dfc24b6"}},{"id":"2d69def951430","name":"ids","style":"form","description":"Çoklu ProductPrice listeleme için virgülle ayrılmış id değerleri <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c8a3f4d186506"}},{"id":"fbc0a0624bf2f","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7f7883dfc24b6"}},{"id":"821707ceac001","name":"q","style":"form","description":"ProductPrice arama filtresi. Kullanımı: q[&lt;geçerli-query-parametresi&gt;]","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/c8a3f4d186506"}}],"responses":{"default":{"$ref":"#/components/schemas/6e1e8111db6cb"}},"security":[{"$ref":"#/components/schemas/ad8bbb23a1ee8"},{"$ref":"#/components/schemas/ad9bbb23a1827"}],"servers":[{"$ref":"#/components/schemas/16e76f8c87177"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"ey5ylmtefbon7-product-price-count","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_prices/{id}":{"put":{"operationId":"39qaj3nzmy07j","summary":"ProductPrice PUT","description":"ProductPrice putAction","tags":[],"parameters":[{"id":"17163d5e3856a","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/b9e1c285cb835"}}],"responses":{"default":{"$ref":"#/components/schemas/6f3ec2e63dece"}},"requestBody":{"$ref":"#/components/schemas/8683570c33198"},"security":[{"$ref":"#/components/schemas/12ecf5610f464"},{"$ref":"#/components/schemas/12fcf5610f7b7"}],"servers":[{"$ref":"#/components/schemas/4f830b3ece031"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"39qaj3nzmy07j-product-price-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"3j4urk9ygtxex","summary":"ProductPrice GET","description":"ProductPrice getAction","tags":[],"parameters":[{"id":"24bf8fb6b2647","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7075bf630d9b2"}}],"responses":{"default":{"$ref":"#/components/schemas/56c7c4d2bab84"}},"security":[{"$ref":"#/components/schemas/62346311010f7"},{"$ref":"#/components/schemas/62246311012a0"}],"servers":[{"$ref":"#/components/schemas/9208f28dfb6ce"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"3j4urk9ygtxex-product-price-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"cdcbxiib53c1s","summary":"ProductPrice DELETE","description":"ProductPrice deleteAction","tags":[],"parameters":[{"id":"d31722d071fdc","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/8cffe49012162"}}],"responses":{"default":{"$ref":"#/components/schemas/e29cd561801e9"}},"security":[{"$ref":"#/components/schemas/72c2ab81d9892"},{"$ref":"#/components/schemas/72b2ab81d9ee1"}],"servers":[{"$ref":"#/components/schemas/bb68840f0f83f"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"cdcbxiib53c1s-product-price-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/product_prices":{"post":{"operationId":"r1sdl789ffemb","summary":"ProductPrice POST","description":"ProductPrice postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/b46305bb81a21"}},"requestBody":{"$ref":"#/components/schemas/4b21da411dff5"},"security":[{"$ref":"#/components/schemas/d1eed9de4b396"}],"servers":[{"$ref":"#/components/schemas/b0f235097bef3"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"r1sdl789ffemb-product-price-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"4iwcpn9cuxjrv","summary":"ProductPrice LIST","description":"ProductPrice cgetAction","tags":[],"parameters":[{"id":"96f9a441dfc7b","name":"sort","style":"form","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fefea1e1c59a1"}},{"id":"e8d0c25794b04","name":"limit","style":"form","description":"Bir sayfada görüntülenecek ProductPrice sayısı","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/23f8f8b64c0ab"}},{"id":"2d6a55dc1b6c9","name":"page","style":"form","description":"Başlanacak sayfa numarası","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fceae0ab6ccbf"}},{"id":"64f1087f255ca","name":"sinceId","style":"form","description":"Belirtilen id değerinden sonraki kayıtları getirir","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3045de68cf9f5"}},{"id":"1b5c6022be32c","name":"ids","style":"form","description":"Çoklu ProductPrice listeleme için virgülle ayrılmış id değerleri <code>ids=1,2,3,4</code>","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/fefea1e1c59a1"}},{"id":"ac682061370da","name":"type","style":"form","description":"Product PriceType","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7f38a8ad378d6"}},{"id":"922977fce85ff","name":"product","style":"form","description":"Ürüne ait Product Id değeri","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/3045de68cf9f5"}}],"responses":{"default":{"$ref":"#/components/schemas/b32eba4ba7b19"}},"security":[{"$ref":"#/components/schemas/b38b97f519614"}],"servers":[{"$ref":"#/components/schemas/c12622f2d7218"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"4iwcpn9cuxjrv-product-price-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/api/product_prices/{id}":{"get":{"operationId":"ogaokakc1sm8f","summary":"ProductPrice GET","description":"ProductPrice getAction","tags":[],"parameters":[{"id":"711124aec1810","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/2eaa47cdb761c"}}],"responses":{"default":{"$ref":"#/components/schemas/4d5619c4e81ee"}},"security":[{"$ref":"#/components/schemas/c519b0cc07cee"}],"servers":[{"$ref":"#/components/schemas/1e972da7addf9"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"ogaokakc1sm8f-product-price-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"delete":{"operationId":"elcqnhu1hs4sk","summary":"ProductPrice DELETE","description":"ProductPrice deleteAction","tags":[],"parameters":[{"id":"7aeed44cc21f7","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/e5e5485f1a79b"}}],"responses":{"default":{"$ref":"#/components/schemas/93a753d9b3f57"}},"security":[{"$ref":"#/components/schemas/60b0fcbf5913a"}],"servers":[{"$ref":"#/components/schemas/0e0a4bdfa9e9b"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"elcqnhu1hs4sk-product-price-delete","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"put":{"operationId":"wcmt0euo4umjq","summary":"ProductPrice PUT","description":"ProductPrice putAction","tags":[],"parameters":[{"id":"316e2b26b9e6c","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/6f306443ec411"}}],"responses":{"default":{"$ref":"#/components/schemas/6799704f5febd"}},"requestBody":{"$ref":"#/components/schemas/e71fe77e8f2b8"},"security":[{"$ref":"#/components/schemas/91bc8323eb1c9"}],"servers":[{"$ref":"#/components/schemas/0aea26197fafa"}],"x-source":{"provider":"ideasoft","api":"store-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjI2NjA2OA","stoplight_node_slug":"wcmt0euo4umjq-product-price-put","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_buttons":{"post":{"operationId":"ghqy1ckzzfb0v","summary":"ProductButton POST","description":"ProductButton postAction","tags":[],"parameters":[],"responses":{"default":{"$ref":"#/components/schemas/e719d50cf5d7d"}},"requestBody":{"$ref":"#/components/schemas/6a313a8e00b4d"},"security":[{"$ref":"#/components/schemas/8990b289daff3"},{"$ref":"#/components/schemas/89a0b289da820"}],"servers":[{"$ref":"#/components/schemas/8e9864b6635e8"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"ghqy1ckzzfb0v-product-button-post","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}},"get":{"operationId":"k502sbiud9kxd","summary":"ProductButton LIST","description":"Tüm ProductButton nesnelerini filtreleyerek ve sayfalandırarak listeler. Sıralama (`sort`), sayfalama (`limit`, `page`), tekil veya çoklu ID (`id`, `ids`, `sinceId`) ve arama (`q`, `s`) parametreleriyle özelleştirilebilir.","tags":[],"parameters":[{"id":"86463f81b2735","name":"sort","style":"form","description":"Sonuçların hangi alana göre sıralanacağını belirler. Artan (ascending) sıralama için alan adını (`id`), azalan (descending) sıralama için ise başına eksi işareti (`-`) ekleyin.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/c3d81ad71e125"}],"schema":{"$ref":"#/components/schemas/7a3449ec55d5c"}},{"id":"d48930a05df7b","name":"limit","style":"form","description":"Bir sayfada döndürülecek maksimum kayıt adedi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/08a1888fc1704"}],"schema":{"$ref":"#/components/schemas/9959e8098f087"}},{"id":"21580aa0cdab0","name":"page","style":"form","description":"Getirilecek sonuçların sayfa numarası.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/00dd71643d7fa"}],"schema":{"$ref":"#/components/schemas/97759daa1d518"}},{"id":"e82e23e92bd4c","name":"product","style":"form","description":"Belirli bir **Ürün ID'sine (Product ID)** ait butonları filtreler.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/8e43832a75fbe"}],"schema":{"$ref":"#/components/schemas/5d9cdfb0055be"}},{"id":"059628d4dc6f0","name":"id","style":"form","description":"Tek bir kayıt getirmek için kullanılan **benzersiz kimlik değeri (ID)**.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/7797d1b94c51d"}},{"id":"257761b2f0e27","name":"ids","style":"form","description":"Çoklu listeleme için virgülle ayrılmış **benzersiz kimlik değerleri (IDs)** listesi.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/83ab660901ce3"}],"schema":{"$ref":"#/components/schemas/45fa8e54a25c8"}},{"id":"f7156e3a1c0d0","name":"sinceId","style":"form","description":"Belirtilen ID değerinden **daha büyük ID'ye sahip** (sonraki) kayıtları getirir. Zaman bazlı sıralamada faydalıdır.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/244fbd8889d62"}],"schema":{"$ref":"#/components/schemas/726a592b2ef13"}},{"id":"2e47c66b9bf65","name":"q","style":"form","description":"Gelişmiş Filtreleme (Query Filter). Alan bazlı kesin filtreleme yapmak için kullanılır. Kullanım: `q[<alan_adı>]=<değer>`","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/945b8f51afae1"}],"schema":{"$ref":"#/components/schemas/a72b98737d6d9"}},{"id":"2e27c66b9bbc3","name":"s","style":"form","description":"Arama Anahtarı Filtresi (Search Keyword). Metin alanlarında genel arama yapmak için kullanılır.","required":false,"allowEmptyValue":true,"explicitProperties":["name","in","description","required","allowEmptyValue","schema","example"],"examples":[{"$ref":"#/components/schemas/74a348d104944"}],"schema":{"$ref":"#/components/schemas/33b56a4ed0953"}}],"responses":{"default":{"$ref":"#/components/schemas/5e2d36275ac29"}},"security":[{"$ref":"#/components/schemas/6c99c270e075d"},{"$ref":"#/components/schemas/6c89c270e050e"}],"servers":[{"$ref":"#/components/schemas/f71fdfe693ef9"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"k502sbiud9kxd-product-button-list","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/ideasoft-api-docs"},"x-verification":{"status":"documentation-only","live_tested":false,"last_verified_at":null,"notes":"Community mirror — not validated against a live Ideasoft store."}}},"/admin-api/product_buttons/{id}":{"get":{"operationId":"8j8fkyvt7wz5d","summary":"ProductButton GET","description":"ProductButton getAction","tags":[],"parameters":[{"id":"7fe13a2440447","name":"id","style":"simple","required":true,"explicitProperties":["name","in","required","schema"],"examples":[],"schema":{"$ref":"#/components/schemas/933f495bad23b"}}],"responses":{"default":{"$ref":"#/components/schemas/53aa00bb7e26b"}},"security":[{"$ref":"#/components/schemas/c6b37afd8f6f5"},{"$ref":"#/components/schemas/c6a37afd8f406"}],"servers":[{"$ref":"#/components/schemas/996c74006e252"}],"x-source":{"provider":"ideasoft","api":"admin-api","documentation":"https://apidoc.ideasoft.dev","stoplight_project_id":"cHJqOjIzODAzMw","stoplight_node_slug":"8j8fkyvt7wz5d-product-button-get","extracted_at":"2026-07-16T08:43:49Z","mirror_repository":"https://github.com/atillakesicioglu/id
[...]
